.header a, a:hover {

  color: orange;
  text-decoration: none;
  font-size: 200%;
}

.nav-pills>li>a {
  color: #fff;
  font-size: 120%;
}

.nav-pills>li>a:hover {
  background-color: #6091ac;

}

@media (max-width: 767px) {
  .nav-pills>li {
    float: none;
  }
  .nav-pills{
    text-align: center;
  }

}

.alignment-reg {
  float: right;
}

.alignment-search{
  float: right;
  margin-right: 10px;

  position: relative;
  top: 50%;
  -webkit-transform: translateY(15%);
  -ms-transform: translateY(15%);
  transform: translateY(15%);
}

.btn:hover, .btn:focus, .btn.focus {
  color: white;
  text-decoration: none;
  background-color: #6091ac;
}
