<footer>


  <nav class="navbar navbar-default " role="navigation">

    <ul id="footer-ahef" class="nav  nav-pills ">
      <li><a href="#">Новости</a></li>
      <li><a href="#">Команды</a></li>
      <li><a href="#">Турниры</a></li>
      <li><a href="#">Арены</a></li>
      <li><a href="#">История хоккея</a></li>
    </ul>
  </nav>



  <div class="container-fluid">
    <p>Все права защищены Copyright © 2016 </p>
    <p>Email: info@hockeylife.ru </p>
    <p>При цитировании и использовании материалов ссылка на HOCKEYLIFE обязательна.</p>
  </div>

</footer>

