<loader [hidden]="!dataIsLoading"></loader>
<div class="tournament-announcements" *ngIf="tournamentAnnouncementList">
  <div class="row">
    <div class="col-md-12">
      <div class="heading heading-12 margin-top-bottom-30">
        <h1>
          <span class="left"></span>
          Анонсы хоккейных турниров
          <span class="right"></span>
        </h1>
        <hr>
      </div>
    </div>
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col div-table-col-fixed div-table-col-left">
        <ta-filter [filter]="filter"
                      (onFiltered)="onFiltered($event)">
        </ta-filter>
      </div>
      <div class="div-table-col div-table-col-flex">
        <div class="operations-panel navbar navbar-right pull-right">
          <button [hasPermission]="['tournamentadministrator']"
                  class="btn btn-primary waves-light"
                  title="Добавить новый анонс"
                  (click)="addTournamentAnnouncement()"
                  [hasPermission]="['tournamentadministrator']"
                  onAuthorizedPermission="show"
                  onUnauthorizedPermission="hide">
            <i [class]="getAddIconClass()"></i>
          </button>
          <sorting [hidden]="dataIsLoading" *ngIf="tournamentAnnouncementList"
                   [orderBy]="listInfo.orderBy"
                   [orderDir]="listInfo.orderDir"
                   [options]="sortOptions"
                   (onSorted)="onSorted($event)">
          </sorting>
          <button type="button" class="toggle btn btn-primary waves-light" (click)="togglePartInfo()">Как я могу участвовать ?</button>
          <button type="button" class="toggle btn btn-primary waves-light" (click)="toggleAddInfo()">Как я могу добавить анонс турнира ?</button>
        </div>
        <div class="content-wrapper">
          <div class="info-block">
            <div class="jumbotron info" [hidden]="toggledPartInfo">
              Как я могу участвовать Как я могу участвовать
              Как я могу участвовать Как я могу участвовать
              Как я могу участвовать Как я могу участвовать
              <a [routerLink]="['/']" routerLinkActive="active">Оставить заявку</a>
            </div>
            <div class="jumbotron info" [hidden]="toggledAddInfo">
              Как я могу добавить анонс турнира Как я могу добавить анонс турнира
              <a [routerLink]="['/']" routerLinkActive="active">Как я могу добавить анонс турнира</a> Как я могу добавить анонс турнира
              Как я могу добавить анонс турнира Как я могу добавить анонс турнира
            </div>
          </div>
          <tournament-announcement-list [content]="tournamentAnnouncementList.listItems">
          </tournament-announcement-list>
          <pagination [page]="listInfo.page"
                      [collectionSize]="tournamentAnnouncementList.count"
                      [pageSize]="listInfo.take">
          </pagination>
        </div>
      </div>
</div>
