<loader [hidden]="!dataIsLoading"></loader>
<div class="tournament-announcements" *ngIf="tournamentAnnouncementList">
  <div class="row">
    <div class="col-md-12">
      <div class="heading heading-12 margin-top-bottom-30">
        <h1>
          <span class="left"></span>
          Анонсы хоккейных турниров
          <span class="right"></span>
        </h1>
        <hr>
      </div>
    </div>
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col div-table-col-fixed div-table-col-left">
        <ta-filter [filter]="filter"
                      (onFiltered)="onFiltered($event)">
        </ta-filter>
      </div>
      <div class="div-table-col div-table-col-flex">
        <sorting
                 [orderBy]="listInfo.orderBy"
                 [orderDir]="listInfo.orderDir"
                 [options]="sortOptions"
                 (onSorted)="onSorted($event)"
                  class="pull-right">
        </sorting>
        <span [hasPermission]="['tournamentadministrator']" class="pull-right navbar admin-panel-operations">
          <a class="visible-btn"
             title="Добавить новый анонс"
             (click)="addTournamentAnnouncement()"
             [hasPermission]="['tournamentadministrator']"
             onAuthorizedPermission="show"
             onUnauthorizedPermission="hide">
            <i [class]="getAddIconClass()"></i>
          </a>
        </span>
        <tournament-announcement-list [content]="tournamentAnnouncementList.listItems">
        </tournament-announcement-list>
        <pagination [page]="listInfo.page"
                    [collectionSize]="tournamentAnnouncementList.count"
                    [pageSize]="listInfo.take">
        </pagination>
      </div>
</div>
