<div class="col-md-6 col-md-offset-3">
  <h2>Редактирование арены</h2>
  <form (ngSubmit)="editArena()" #f="ngForm">
     <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
      <label for="name">Название арены</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="arena.name" (ngModelChange)="arena.name = $event" #name="ngModel" id="name"/>
      <div *ngIf="f.submitted && name != null && !name.valid" class="help-block">name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !cityName.valid }">
      <label for="cityName">Город</label>
      <input type="text" class="form-control" name="cityName" [(ngModel)]="arena.cityName" (ngModelChange)="arena.cityName = $event" #cityName="ngModel" id="cityName" />
      <div *ngIf="f.submitted && cityName != null && !cityName.valid" class="help-block">cityName is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
      <label for="address">Адрес</label>
      <input type="text" class="form-control" name="address" [(ngModel)]="arena.address" (ngModelChange)="arena.address = $event" #address="ngModel" id="address"/>
      <div *ngIf="f.submitted && address != null && !address.valid" class="help-block">address is invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !capacity.valid }">
      <label for="capacity">Вместимость</label>
      <input type="number" class="form-control" name="capacity" [(ngModel)]="arena.capacity" (ngModelChange)="arena.capacity = $event" #capacity="ngModel" ngModel number="true" id="capacity"/>
      <div *ngIf="f.submitted && capacity != null && !capacity.valid" class="help-block">capacity is invalid</div>
    </div>
    <select class="form-group" [(ngModel)]="arena.arenaTypeName" name="arenaTypeName" class="form-control" #arenaTypeName="ngModel" id="arenaTypeName">
      <option *ngFor="let arenaType of arenaTypes"  [ngValue]="arenaType.name">{{arenaType.name}}</option>
    </select>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contacts.valid }">
      <label for="contacts">Контакты</label>
      <input type="text" class="form-control" name="contacts" [(ngModel)]="arena.contacts" (ngModelChange)="arena.contacts = $event" #contacts="ngModel" id="contacts" />
      <div *ngIf="f.submitted && contacts != null && !contacts.valid" class="help-block">contacts is invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="arena.email" (ngModelChange)="arena.email = $event" #email="ngModel" ngModel email="true" id="email"/>
      <div *ngIf="f.submitted && email != null && !email.valid" class="help-block">email is invalid</div>
    </div>
    <!--div class="form-group" [ngClass]="{ 'has-error': f.submitted && !webSite.valid }">
      <label for="webSite">Site</label>
      <input type="text" class="form-control" name="webSite" [(ngModel)]="arena.webSite" (ngModelChange)="arena.webSite = $event" #webSite="ngModel" id="webSite"/>
      <div *ngIf="f.submitted && webSite != null && !webSite.valid" class="help-block">webSite is invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !logo.valid }">
      <label for="logo">Лого</label>
      <input type="text" class="form-control" name="logo" [(ngModel)]="arena.logo" (ngModelChange)="arena.logo = $event" #about="ngModel" id="about"/>
      <div *ngIf="f.submitted && logo != null && !logo.valid" class="help-block">logo is invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !about.valid }">
      <label for="about">Описание</label>
      <input type="text" class="form-control" name="about" [(ngModel)]="arena.about" (ngModelChange)="arena.about = $event" #about="ngModel" id="about">
      <div *ngIf="f.submitted && about != null && !about.valid" class="help-block">about is invalid</div>
    </div-->
    <!--div class="form-group">
      <input type="checkbox"><span class="checkbox-title">Удалить?</span>
    </div-->
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Применить</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
</div>
