<ng-template #rt let-r="result" let-t="term">
  {{ r.name}}
</ng-template>
<div class="row">
  <div class="col-md-6 form-group {{ ( isRequired === true ) ? 'required' : '' }}">
    <label for="schoolFilter">{{ getSchoolTitle() }}</label>
    <input id="schoolFilter"
           name="schoolFilter"
           type="text"
           class="form-control"
           [(ngModel)]="school"
           [ngbTypeahead]="searchSchool"
           [resultTemplate]="rt"
           [inputFormatter]="formatter"
           (ngModelChange)="returnSchool()"
           required="{{ ( isRequired === true ) ? 'required' : '' }}"/>
    <span *ngIf="searching">Поиск...</span>
    <div class="invalid-feedback" *ngIf="searchFailed">Извините, школ с заданными параметрами не найдено</div>
  </div>
</div>

