<div class="tournament-announcement-list">
  <div class="row">
    <ng-template ngFor let-i [ngForOf]="[0]">
      <div class="col-lg-6 col-sm-6 h-100 blog-item block-item" *ngFor="let tournamentAnnouncement of content">
        <div class="card h-100">
          <div class="item-img-wrapper" >
            <div class="item-img-bg-wrapper" >
              <img class="item-img-bg"
                   [src]="getTournamentAnnouncementLogo(tournamentAnnouncement)"
                   alt=""
                   onerror = "this.style.display = 'none'">
            </div>
            <a [routerLink]="['/tournament-announcement',tournamentAnnouncement.id]" routerLinkActive="active">
              <img class="item-img-main"
                   [src]="getTournamentAnnouncementLogo(tournamentAnnouncement)"
                   alt=""
                   onerror = "this.style.display = 'none'" >
            </a>
          </div>
          <div class="item-body">
            <div class="item-title-main">
              <p>
                {{tournamentAnnouncement.cityName ? tournamentAnnouncement.cityName+', ': ''}}
                {{tournamentAnnouncement.startDate | date :  "dd.MM.y"}}
                &nbsp;&mdash;&nbsp;
                {{tournamentAnnouncement.endDate | date :  "dd.MM.y"}}
              </p>
            </div>
            <h5 class="item-title admin-panel">
              <a class="title-text" (click)="viewTournamentAnnouncement(tournamentAnnouncement)" alt="Подробнее...">
                {{tournamentAnnouncement.name}}
              </a>
            </h5>
            <span class="item-text">
              <div class="row block-with-logo">
                <div class="col-md-6">
                  <p>Арена:</p>
                  <arena-pic *ngIf="tournamentAnnouncement.arena" [arena]="tournamentAnnouncement.arena"></arena-pic>
                </div>
                <div class="col-md-6" *ngIf="!tournamentAnnouncement.organization">&nbsp;</div>
                <div class="col-md-6" *ngIf="tournamentAnnouncement.organization">
                  <p>
                    Организатор:
                  </p>
                  <organization-pic *ngIf="tournamentAnnouncement.organization" [org]="tournamentAnnouncement.organization"></organization-pic>
                </div>
              </div>

              <p class="icon-wrap" *ngIf="tournamentAnnouncement.requiredResponseCount">
                <i class="fa fa-users"></i>
                Макс. количество участников:
                {{getRequiredResponseCount(tournamentAnnouncement)}}
              </p>
              <p class="icon-wrap" *ngIf="tournamentAnnouncement.requiredResponseCount">
                <i class="fa fa-users"></i>
                На данный момент заявлено:
                {{getRequiredResponseCount(tournamentAnnouncement)}}
              </p>
              <p class="icon-wrap" *ngIf="tournamentAnnouncement.ageGroup">
                <i [class]="getAgeGroupIconClass(tournamentAnnouncement)"></i>
                 Возрастная группа: {{ getAgeGroupDescription(tournamentAnnouncement) }}
              </p>
              <p class="icon-wrap"
                 *ngIf="tournamentAnnouncement.ageGroup == 'Подростки'">
                <i class="material-icons">&#xe7fb;</i>
                Возраст:
                {{tournamentAnnouncement.minAge}}-{{tournamentAnnouncement.maxAge}}
              </p>
              <p class="icon-wrap" *ngIf="tournamentAnnouncement.gender">
                <i [class]="getGenderIconClass(tournamentAnnouncement)"></i>
                 Пол участников: {{ getGenderDescription(tournamentAnnouncement) }}
              </p>
              <p class="icon-wrap" *ngIf="tournamentAnnouncement.state==='ApprovedByModerator' && tournamentAnnouncement.endRegistrationDate">
                <i class="fa fa-bell"></i>
                Окончание регистрации:
                {{tournamentAnnouncement.endRegistrationDate? (tournamentAnnouncement.endRegistrationDate | date :  "dd.MM.y") : getNoData()}}
              </p>
               <p class="icon-wrap" *ngIf="tournamentAnnouncement.state==='Finished'">
                <i class="fa fa-bell"></i>
                Статус: завершен
              </p>
              <span *ngIf="tournamentAnnouncement.isCommercial && tournamentAnnouncement.isCommercial == true && tournamentAnnouncement.cost">
                <p class="icon-wrap">
                  <i class="fa fa-rouble"></i>
                  Цена участия: {{getCostText(tournamentAnnouncement)}}
                </p>
              </span>
          </span>

            <span class="bottom-btn">
            <button (click)="viewTournamentAnnouncement(tournamentAnnouncement)"
                    class="btn btn-deep-orange waves-effect waves-light">
              Подробнее...
            </button>
          </span>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
