<loader [hidden]="!dataIsLoading"></loader>
<div class="ta-admin" *ngIf="tournamentAnnouncementList">
  <div class="row">
    <div class="col-md-12">
      <div class="heading heading-12 margin-top-bottom-30">
        <h1>
          <span class="left"></span>
          Анонсы хоккейных турниров
          <span class="right"></span>
        </h1>
        <hr>
      </div>
    </div>
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col div-table-col-fixed div-table-col-left">
        <ta-admin-filter [hidden]="dataIsLoading" *ngIf="tournamentAnnouncementList"
                         [filter]="filter"
                         (onFiltered)="onFiltered($event)">
        </ta-admin-filter>
      </div>

      <div class="div-table-col div-table-col-flex">

        <!--div class="admin-panel">
          <span class="toggle" (click)="toggle()" style="margin-left: 5px;"><i [class]="getToggleIcon()"></i></span>
        </div>
        <div class="jumbotron" [hidden]="toggled">
          ssssss
        </div-->
        <sorting [hidden]="dataIsLoading" *ngIf="tournamentAnnouncementList" class="pull-right"
                 [orderBy]="listInfo.orderBy"
                 [orderDir]="listInfo.orderDir"
                 [options]="sortOptions"
                 (onSorted)="onSorted($event)">
        </sorting>
        <span [hasPermission]="['tournamentadministrator']" class="pull-right navbar admin-panel-operations">
          <a class="visible-btn"
             title="Добавить новый анонс"
             (click)="addTournamentAnnouncement()"
             [hasPermission]="['tournamentadministrator']"
             onAuthorizedPermission="show"
             onUnauthorizedPermission="hide">
            <i [class]="getAddIconClass()"></i>
          </a>
        </span>
        <ta-admin-list [hidden]="dataIsLoading"
                       *ngIf="tournamentAnnouncementList"
                       [content]="tournamentAnnouncementList.listItems"
                       (onChanged)="getTournamentAnnouncements()">
        </ta-admin-list>
        <pagination [hidden]="dataIsLoading" *ngIf="tournamentAnnouncementList" [page]="listInfo.page"
                    [collectionSize]="tournamentAnnouncementList.count"
                    [pageSize]="listInfo.take">
        </pagination>
      </div>
    </div>
  </div>
</div>
