<loader [hidden]="!dataIsLoading"></loader>
<div class="profile-organizator container" *ngIf="tournamentAnnouncementList">
  <div class="row">
    <div class="col-md-12">
      <div class="heading heading-12 margin-top-bottom-30">
        <h1>
          <span class="left"></span>
          Анонсы хоккейных турниров
          <span class="right"></span>
        </h1>
        <hr>
      </div>
    </div>

      <ta-admin-filter [hidden]="dataIsLoading" *ngIf="tournamentAnnouncementList"
        [filter]="filter"
        (onFiltered)="onFiltered($event)">
      </ta-admin-filter>
    <sorting [hidden]="dataIsLoading" *ngIf="tournamentAnnouncementList" class="pull-right"
             [orderBy]="listInfo.orderBy"
             [orderDir]="listInfo.orderDir"
             [options]="sortOptions"
             (onSorted)="onSorted($event)">
    </sorting>
    <div class="col-md-12">
      <ta-admin-list [hidden]="dataIsLoading"
                *ngIf="tournamentAnnouncementList"
                [content]="tournamentAnnouncementList.listItems"
                (onChanged)="getTournamentAnnouncements()"
                class="row">
      </ta-admin-list>
    </div>
    <pagination [hidden]="dataIsLoading" *ngIf="tournamentAnnouncementList" [page]="listInfo.page"
                [collectionSize]="tournamentAnnouncementList.count"
                [pageSize]="listInfo.take">
    </pagination>
  </div>
</div>
