.ta-admin {
  margin: 0 auto;
  padding: 5px 15px;
  //padding: 0 20px;
  button {
    font-size: 1rem;
  }
  /*input {
    font-size: .4rem;
    height: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }*/
}
