<div class="arena-create col-md-6 col-md-offset-3">
  <h2>Добавление арены</h2>
  <form (ngSubmit)="addArena(arena)" #f="ngForm">
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !arenaname.valid }">
      <label for="arenaname">Сокращенное название арены</label>
      <input type="text" class="form-control" name="arenaname" [(ngModel)]="arena.name" (ngModelChange)="arena.name = $event" #arenaname="ngModel" id="arenaname"/>
      <div *ngIf="f.submitted && arenaname != null && !arenaname.valid" class="help-block">arenaname is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fullName.valid }">
      <label for="fullName">Полное название арены</label>
      <input type="text" class="form-control" name="fullName" [(ngModel)]="arena.fullName" (ngModelChange)="arena.fullName = $event" #fullName="ngModel" id="fullName"/>
      <div *ngIf="f.submitted && fullName != null && !fullName.valid" class="help-block">fullname is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !startYear.valid }">
      <label for="startYear">Год открытия арены</label>
      <input type="number" min="1900" max="2050" step="1" number="true" class="form-control" name="startYear" [(ngModel)]="arena.startYear" (ngModelChange)="arena.startYear = $event" #startYear="ngModel" ngModel id="startYear"/>
      <div *ngIf="f.submitted && startYear != null && !startYear.valid" class="help-block">startYear is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && city==null }">
      <ng-template #rt let-r="result" let-t="term">
        {{ r.name}}
      </ng-template>
      <label for="city">Город</label>
      <input id="city" name="city" type="text" class="form-control" [(ngModel)]="city" [ngbTypeahead]="search" [resultTemplate]="rt"  [inputFormatter]="formatter"/>
      <span *ngIf="searching">Поиск...</span>
      <div class="invalid-feedback" *ngIf="searchFailed">Извините, городов с заданными параметрами не найдено</div>
      <div *ngIf="f.submitted && city == null" class="help-block">Укажите город</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
      <label for="address">Адрес</label>
      <input type="text" class="form-control" name="address" [(ngModel)]="arena.address" (ngModelChange)="arena.address = $event" #address="ngModel" id="address"/>
      <div *ngIf="f.submitted && address != null && !address.valid" class="help-block">address is invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !capacity.valid }">
      <label for="capacity">Вместимость</label>
      <input type="number" class="form-control" name="capacity" [(ngModel)]="arena.capacity" (ngModelChange)="arena.capacity = $event" #capacity="ngModel" ngModel number="true" id="capacity"/>
      <div *ngIf="f.submitted && capacity != null && !capacity.valid" class="help-block">capacity is invalid</div>
    </div>
    <select class="form-group" [(ngModel)]="arena.arenaTypeId" name="arenaTypeId" class="form-control" #arenaTypeId="ngModel" id="arenaTypeId" (ngModelChange)="arena.arenaTypeId = $event">
      <option *ngFor="let arenaType of arenaTypes"  [ngValue]="arenaType.id" >{{arenaType.name}}</option>
    </select>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contacts.valid }">
      <label for="contacts">Контакты</label>
      <input type="text" class="form-control" name="contacts" [(ngModel)]="arena.contacts" (ngModelChange)="arena.contacts = $event" #contacts="ngModel" id="contacts" />
      <div *ngIf="f.submitted && contacts != null && !contacts.valid" class="help-block">contacts is invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="arena.email" (ngModelChange)="arena.email = $event" #email="ngModel" ngModel email="true" id="email"/>
      <div *ngIf="f.submitted && email != null && !email.valid" class="help-block">email is invalid</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !webSite.valid }">
      <label for="webSite">Сайт</label>
      <input type="text" class="form-control" name="webSite" [(ngModel)]="arena.webSite" (ngModelChange)="arena.webSite = $event" #webSite="ngModel" id="webSite"/>
      <div *ngIf="f.submitted && webSite != null && !webSite.valid" class="help-block">webSite is invalid</div>
    </div>
    <!--div class="form-group" [ngClass]="{ 'has-error': f.submitted && !logo.valid }">
      <label for="logo">Лого</label>
      <input type="text" class="form-control" name="logo" [(ngModel)]="arena.logo" (ngModelChange)="arena.logo = $event" #about="ngModel" id="about"/>
      <div *ngIf="f.submitted && logo != null && !logo.valid" class="help-block">logo is invalid</div>
    </div-->
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !about.valid }">
      <label for="about">Описание</label>
      <app-ngx-editor [placeholder]="'Описание арены'" [height]="200" class="form-control" name="about" [(ngModel)]="arena.about" (ngModelChange)="arena.about = $event" #about="ngModel" id="about"></app-ngx-editor>
      <div *ngIf="f.submitted && about != null && !about.valid" class="help-block">about is invalid</div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" [disabled]="loading">Добавить</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>

  </form>
</div>
