<div class="organization-pic" *ngIf=" ( position == null ) || ( position != 'horizontal' )" >
  <p>
    <a [routerLink]="['/organization',org.id]" routerLinkActive="active">
      {{org.name}}
    </a>
  </p>
  <div class="logo-img-wrapper" >
    <div class="logo-img-bg-wrapper" >
      <img class="logo-img-bg"
           [src]="getOrganizationLogo(org)"
           alt="{{org.name}}"
           onerror = "this.style.display = 'none'">
    </div>
    <a [routerLink]="['/organization',org.id]" routerLinkActive="active">
      <img class="logo-img-main"
           [src]="getOrganizationLogo(org)"
           alt="{{org.name}}"
           onerror = "this.style.display = 'none'" >
    </a>
  </div>
</div>

<div class="arena-pic" *ngIf="position=='horizontal'">
  <div class="logo-img-wrapper" >
    <div class="logo-img-bg-wrapper" >
      <img class="logo-img-bg"
           *ngIf="arena" [src]="getArenaLogo(arena)"
           alt="{{arena.name}}"
           onerror = "this.style.display = 'none'">
    </div>
    <a *ngIf="arena" [routerLink]="['/arena',arena.id]" routerLinkActive="active">
      <img class="logo-img-main"
           [src]="getArenaLogo(arena)"
           alt="{{arena.name}}"
           onerror = "this.style.display = 'none'" >
    </a>
  </div>
</div>
