<div class="organization-pic" *ngIf=" ( position == null ) || ( position != 'horizontal' )" >
  <p>
    <a [routerLink]="['/organization',org.id]" routerLinkActive="active">
      {{org.name}}
    </a>
  </p>
  <div class="logo-img-wrapper" >
    <div class="logo-img-bg-wrapper" >
      <img class="logo-img-bg"
           [src]="getOrganizationLogo()"
           alt="{{org.name}}"
           onerror = "this.style.display = 'none'">
    </div>
    <a [routerLink]="['/organization',org.id]" routerLinkActive="active">
      <img class="logo-img-main"
           [src]="getOrganizationLogo()"
           alt="{{org.name}}"
           onerror = "this.style.display = 'none'" >
    </a>
  </div>
</div>

<div class="organization-pic" *ngIf="position=='horizontal'">
  <div class="logo-img-wrapper" >
    <div class="logo-img-bg-wrapper" >
      <img class="logo-img-bg"
           *ngIf="org" [src]="getOrganizationLogo()"
           alt="{{org.name}}"
           onerror = "this.style.display = 'none'">
    </div>
    <a *ngIf="org" [routerLink]="['/organization',org.id]" routerLinkActive="active">
      <img class="logo-img-main"
           [src]="getOrganizationLogo()"
           alt="{{org.name}}"
           onerror = "this.style.display = 'none'" >
    </a>
  </div>
</div>
