<footer>


  <nav class="navbar navbar-default " role="navigation">

    <ul id="footer-ahef" class="nav  nav-pills ">
      <li><a href="/hockey-news">Новости</a></li>
      <li><a href="/children-teams">Команды</a></li>
      <li><a href="/tournaments">Турниры</a></li>
      <li><a href="/arenas">Арены</a></li>
      <li><a href="/about">О сайте</a></li>
    </ul>
  </nav>



  <div class="container-fluid">
    <p>Все права защищены Copyright © 2016 </p>
    <p>Email: info@hockeylife.ru </p>
    <p>При цитировании и использовании материалов ссылка на HOCKEYLIFE обязательна.</p>
  </div>

</footer>

