<div class="player-set">
  <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Изменение состава команды</h4>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <label for="playerSetType">Список игроков</label>
            <select class="form-group" [(ngModel)]="playerSetType" name="playerSetType" class="form-control" #PlayerSetType="ngModel" id="playerSetType" (ngModelChange)="playerSetType = $event">
              <option *ngFor="let playerSetTypeItem of playerSetTypes" [ngValue]="playerSetTypeItem.value" >{{playerSetTypeItem.name}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label>Выбранные игроки</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 scroll-area-wrap">
            <div class="align-middle scroll-area bordered-area">
              <label *ngFor="let playerSetItem of team.players" class="row m-0 align-middle">
                <div class="col-md-1 align-middle vertical-align"><!--label class="align-middle"-->
                  <input type="checkbox" [(ngModel)]="checkList[team.players.indexOf(playerSetItem)]" (change)="movePlayerToActive(playerSetItem, $event)" />
                </div>
                <div class="col-md-5 align-middle">
                  {{playerSetItem.name}}
                </div>
                <div class="col-md-5 align-middle p-0">
                  {{playerSetItem.amplua}}
                </div>
                <!--/label-->
              </label>
            </div>
          </div>
          <div class="col-md-6 scroll-area-wrap">
            <div class="align-middle scroll-area bordered-area">
              <label *ngFor="let activePlayerSetItem of team.activePlayers" class="row m-0 align-middle vertical-align">
                <div class="col-md-5 vertical-align">
                  {{activePlayerSetItem.name}}
                </div>
                <div class="col-md-5 vertical-align">
                  {{activePlayerSetItem.amplua}}
                </div>
                <div class="col-md-2 vertical-align">
                  <button [hasPermission]="['tournamentadministrator']"
                          class="btn btn-danger waves-light modal-btn"
                          title="Удалить игрока из списка"
                          (click)="removeActivePlayer(activePlayerSetItem)"
                          onAuthorizedPermission="show"
                          onUnauthorizedPermission="hide"
                          [disabled]="dataIsLoading || !activePlayerSetItem">
                    <i [class]="getDeleteIconClass()"></i>
                  </button>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button [hasPermission]="['tournamentadministrator']"
                class="btn btn-primary waves-light modal-btn"
                title="Применить"
                (click)="save()"
                [disabled]="dataIsLoading"
                onAuthorizedPermission="show"
                onUnauthorizedPermission="hide">
          <i [class]="getOkIconClass()"></i>&nbsp;&nbsp;Применить
        </button>
      </div>
  </ng-template>

  <button [hasPermission]="['tournamentadministrator']"
          class="btn btn-primary waves-light modal-btn"
          title="Изменить состав команды"
          (click)="open(content)"
          [disabled]="isDisabled || dataIsLoading"
          onAuthorizedPermission="show"
          onUnauthorizedPermission="hide">
    <i [class]="getPlayersIconClass()"></i>
  </button>
</div>
