<header id="mainheader" class="kode-header-absolute">

  <!--// TopBaar //-->
  <div class="kode-topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-12 kode_bg_white">
          <!--div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 30px;"><ul class="top_slider_bxslider" style="width: 515%; position: relative; transition-duration: 0s; transform: translate3d(-1440px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 720px;" class="bx-clone"><span class="kode-barinfo"><strong>Latest News : </strong> Welcome visitor you can Login or Create an Account</span></li>
            <li style="float: left; list-style: none; position: relative; width: 720px;"><span class="kode-barinfo"><strong>Latest News : </strong> Lorem ipsum dolor sit amet, cons ecte tuer adipiscing elit,</span></li>
            <li style="float: left; list-style: none; position: relative; width: 720px;"><span class="kode-barinfo"><strong>Latest News : </strong> Lorem ipsum dolor sit amet, cons ecte tuer adipiscing elit,</span></li>
            <li style="float: left; list-style: none; position: relative; width: 720px;"><span class="kode-barinfo"><strong>Latest News : </strong> Welcome visitor you can Login or Create an Account</span></li>
            <li style="float: left; list-style: none; position: relative; width: 720px;" class="bx-clone"><span class="kode-barinfo"><strong>Latest News : </strong> Lorem ipsum dolor sit amet, cons ecte tuer adipiscing elit,</span></li></ul></div><div class="bx-controls bx-has-controls-direction"><div class="bx-controls-direction"><a class="bx-prev" href=""></a><a class="bx-next" href=""></a></div></div></div-->
        </div>
        <div class="col-md-12">
          <ul class="kode-userinfo">
            <!--li><a href="#"><i class="fa fa-shopping-cart"></i> Cart</a>
            </li-->
            <!--li><a href="/profile"><i class="fa fa-user"></i>Мой аккаунт</a></li-->
            <li><a [routerLink]="['/login']" routerLinkActive="active"><i class="fa fa-sign-in"></i>Вход</a></li>
            <li><a [routerLink]="['/logout']" routerLinkActive="active"><i class="fa fa-sign-out"></i>Выход</a></li>
            <!--li><a href="/registration" data-toggle="modal" data-target="#myModalTwo"><i class="fa fa-user-plus"></i>Регистрация</a></li-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--// TopBaar //-->

  <div class="header-8">
    <div class="container">
      <!--NAVIGATION START-->
      <div class="kode-navigation pull-left">
        <ul>
          <li><a [routerLink]="['/']" routerLinkActive="active">Главная</a>
          </li>
          <li><a [routerLink]="['/children-teams']" routerLinkActive="active">Команды</a></li>
          <li><a [routerLink]="['/tournaments']" routerLinkActive="active">Турниры</a></li>
          <li><a [routerLink]="['/arenas']" routerLinkActive="active">Арены</a>
          <li><a [routerLink]="['/news']" routerLinkActive="active">Новости</a>
          </li>
        </ul>
      </div>
      <nav class="navbar navbar-default">
      </nav>
    </div>
  </div>
</header>
