<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-default " role="navigation">

      <div class="container-fluid">

        <div class="navbar-header header">

          <a class="navbar-brand" href="">HockeyLife</a>

          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>

        <div id="navbarCollapse" class="collapse navbar-collapse header">
          <ul class="nav navbar-nav nav-pills">
            <li><a href="/hockey-news">Новости</a></li>
            <li><a href="/children-teams">Клубы</a></li>
            <li><a href="/tournaments">Турниры</a></li>
            <li><a href="/arenas">Арены</a></li>
            <li><a href="/about">О сайте</a></li>
          </ul>

          <div class="alignment-reg">
            <ul class="nav navbar-nav nav-pills">
              <li><a href="#">Регистрация</a></li>
              <li><a href="#">Вход</a></li>
            </ul>
          </div>

          <div class="alignment-search">
            <form class="form-inline my-2 my-lg-0 hidden-xs">
              <input class="form-control mr-sm-2" type="text" placeholder="Поиск">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
