.ta-filter-wrap {

  font-size: 1rem;
  max-width: 250px;

  .label-button {
    font-size: 0.8rem;
    //padding: 0.85rem 2.13rem;
    margin: 6px;
    border-radius: 2px;
    border: 0;
    transition: .2s ease-out;
    text-transform: uppercase;
    white-space: normal !important;
    word-wrap: break-word;
    cursor: pointer;
  }
  label.btn-primary.active {
    background-color: red!important;
  }

  input {
    font-size: 1rem;
  }

  .buttons-wrapper {
    text-align: center;
    margin: 0 auto;
  }

  .buttons-wrapper button {
    width: 40%;
  }

  form {
    margin: 0;
  }
}

.ta-filter {
}

.ta-admin-filter {
}
