<ng-template #rt let-r="result" let-t="term">
  {{ r.name}}
</ng-template>
<div class="row city-filter">
  <div class="col-md-6">
    <label for="country">{{ getCountryTitle() }}</label>
    <input id="country"
           name="country"
           type="text"
           class="form-control"
           [(ngModel)]="country"
           [ngbTypeahead]="searchCountry"
           [resultTemplate]="rt"
           [inputFormatter]="formatter"
           (ngModelChange)="updateCountry()"/>
  </div>
  <div class="col-md-6">
    <label for="city">{{ getCityTitle() }}</label>
    <input [readonly]="!country" id="city"
           name="city"
           type="text"
           class="form-control"
           [(ngModel)]="city"
           [ngbTypeahead]="searchCity"
           [resultTemplate]="rt"
           [inputFormatter]="formatter"
           (ngModelChange)="returnCity()"/>
    <span *ngIf="searching">Поиск...</span>
    <div class="invalid-feedback" *ngIf="searchFailed">Извините, городов с заданными параметрами не найдено</div>
  </div>
</div>

