<div class="ta-admin-filter ta-filter-wrap">
    <div class="admin-panel">
      <span class="toggle" title="{{getToggleTitle(toggled)}}" (click)="toggle()" style="margin-left: 5px;"><i [class]="getToggleIcon()"></i></span>
    </div>
    <div class="jumbotron" [hidden]="toggled">
        <form>
          <app-city-filter *ngIf="city" [city]="city" (onChanged)="setCity($event)"></app-city-filter>
          <input type="text" name="searchText" [(ngModel)]="filter.searchText" placeholder="Название или строка поиска" class="form-control">
          <label class="">Дата проведения</label>
          <label for="startDateFrom">c</label>
          <input id="startDateFrom"
                     type="date"
                     name="startDateFrom"
                     [(ngModel)]="filter.startDateFrom"
                     placeholder="Дата проведения, от"
                     class="form-control">
          <label for="startDateTo">до</label>
          <input id="startDateTo"
                     type="date"
                     name="startDateTo"
                     [(ngModel)]="filter.startDateTo"
                     placeholder="Дата проведения, до"
                     class="form-control">
          <div class=""
               [hasPermission]="['tournamentadministrator']"
               onAuthorizedPermission="show"
               onUnauthorizedPermission="hide">
            <!--div class="btn-group btn-group-vertical btn-group-toggle elements-group-border" [(ngModel)]="filter.state" data-toggle="buttons">
              <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                <input type="checkbox" autocomplete="off" name="isRegistration"  ngbButton  value="ApprovedByModerator">
                Идет регистрация
              </label>
              <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                <input type="checkbox" autocomplete="off" name="isDraft" ngbButton   value="Draft" >
                Черновики
               ffff
              </label>
              </div-->
              <div class="btn-group btn-group-vertical btn-group-toggle elements-group-border" data-toggle="buttons" >
                <!--button type="button" autocomplete="off" class="btn btn-primary fixed-size-button-s label-button" data-toggle="button">Идет регистрация</button-->
                <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                  <input type="checkbox" autocomplete="off" name="isRegistration" ngbButton  [(ngModel)]="filter.state.isRegistration">
                  Идет регистрация
                </label>
                <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                  <input type="checkbox" autocomplete="off" name="isDraft" ngbButton [(ngModel)]="filter.state.isDraft">
                  Черновики
                </label>
                <!--label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                  <input type="checkbox" autocomplete="off" name="isWait" ngbButton value="WaitModeration">
                  На модерации
                </label>
                <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                  <input type="checkbox" autocomplete="off" name="isReject" ngbButton value="RejectedByModerator">
                  Отклонены
                </label-->
            </div>
            {{ filter.state | json }}
          </div>
          <div class=""
               [hasPermission]="['tournamentannouncementmoderator']"
               onAuthorizedPermission="show"
               onUnauthorizedPermission="hide">
              <div class="btn-group-vertical btn-group-toggle" ngbRadioGroup name="state" [(ngModel)]="filter.state">
                <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                  <input type="checkbox" name="isRegistration" ngbButton value="ApprovedByModerator">Одобрены
                </label>
                <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                  <input type="checkbox" name="isWait" ngbButton value="WaitModeration">Ожидают модерации
                </label>
                <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                  <input type="checkbox" name="isReject" ngbButton value="RejectedByModerator">Отклонены
                </label>
              </div>
          </div>
          <div class="buttons-wrapper">
              <button type="button" class="btn btn-primary" (click)="search()">
                <i class="fa fa-search"></i>
              </button>
              <button type="reset" class="btn btn-default">
                <i class="fa fa-close"></i>
              </button>
          </div>
        </form>
    </div>
</div>
