<div class="ta-admin-filter ta-filter-wrap">
    <div class="admin-panel">
      <span class="toggle toggle-search-icon" title="{{getToggleTitle(toggled)}}" (click)="toggle()"><i [class]="getToggleIcon()"></i></span>
      <i class="fa fa-search search-icon"></i>
    </div>
    <div class="jumbotron" [hidden]="toggled">
        <form>
          <app-city-filter *ngIf="city" [city]="city" (onChanged)="setCity($event)"></app-city-filter>
          <input type="text" name="searchText" [(ngModel)]="filter.searchText" placeholder="Название или строка поиска" class="form-control">
          <label class="">Дата проведения</label>
          <label>c</label>
          <app-datepicker [dt]="filter.startDateFrom" (onChanged)="onChangedStartDt($event)"></app-datepicker>
          <label>до</label>
          <app-datepicker [dt]="filter.startDateTo" (onChanged)="onChangedEndDt($event)"></app-datepicker>
          <div class=""
               [hasPermission]="['tournamentadministrator']"
               onAuthorizedPermission="show"
               onUnauthorizedPermission="hide">
              <div class="btn-group btn-group-vertical btn-group-toggle elements-group-border" data-toggle="buttons" >
                <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                  <input type="checkbox" autocomplete="off" name="isRegistration" ngbButton  [(ngModel)]="filter.state.isRegistration">
                  Идет регистрация
                </label>
                <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                  <input type="checkbox" autocomplete="off" name="isDraft" ngbButton [(ngModel)]="filter.state.isDraft">
                  Черновики
                </label>
                <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                  <input type="checkbox" autocomplete="off" name="isWait" ngbButton [(ngModel)]="filter.state.isWait">
                  Ожидают модерации
                </label>
                <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                  <input type="checkbox" autocomplete="off" name="isReject" ngbButton [(ngModel)]="filter.state.isReject">
                  Отклонены
                </label>
            </div>
          </div>
          <div class=""
               [hasPermission]="['tournamentannouncementmoderator']"
               onAuthorizedPermission="show"
               onUnauthorizedPermission="hide">
            <div class="btn-group btn-group-vertical btn-group-toggle elements-group-border" data-toggle="buttons" >
              <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                <input type="checkbox" autocomplete="off" name="isRegistration" ngbButton [(ngModel)]="filter.state.isRegistration">
                Идет регистрация
              </label>
              <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                <input type="checkbox" autocomplete="off" name="isWait" ngbButton [(ngModel)]="filter.state.isWait">
                Ожидают модерации
              </label>
              <label class="btn-primary fixed-size-button-s label-button" ngbButtonLabel>
                <input type="checkbox" autocomplete="off" name="isReject" ngbButton [(ngModel)]="filter.state.isReject">
                Отклонены
              </label>
            </div>
          </div>
          <div class="buttons-wrapper">
              <button type="button" class="btn btn-primary" (click)="search()">
                <i class="fa fa-search"></i>
              </button>
              <button type="reset" class="btn btn-default" (click)="reset()">
                <i class="fa fa-close"></i>
              </button>
          </div>
        </form>
    </div>
</div>
