  <div class="container">

    <div class="row">

      <div class="col-md-12">
        <div class="heading heading-12 margin-top-bottom-30">
          <p> Вся информация о ледовых аренах, стадионах и площадках в одном месте</p>
          <h1><span class="left"></span>Хоккейные арены и площадки<span class="right"></span></h1>
          <hr>
        </div>

        <div class="kode-blog-list kode-large-blog">
          <ul class="row">

            <li class="col-md-4" *ngFor="let arena of listData">
              <div class="kode-city-zoon">
                <p>{{arena.CityName}}</p>
               <h5><a href="#">{{arena.Name}}</a></h5>
              </div>

              <figure><a href="#"><img src="assets/img/arenas/stadion_proba.jpeg" alt=""></a></figure>
              <div class="kode-blog-info">
                <p>Lorem ipsum dolor sit amet, cons ecte tuer adipiscing elit, sed diam non ummy nibh euismod tinc idunt
                  ut laoreet dolore magna ali quam erat volutpat. Ut veniam, quis..</p>
                <address>
                  <strong>{{arena.Name}}</strong><br>
                  {{arena.Address}}<br>
                  <a href="mailto:#">pochta@gmail.com</a><br>
                  <a style="color: #00aceb" target="_blank" href="{{arena.WebSite}}">Перейти на сайт</a><br>
                </address>

                <a href="#" class="kode-blog-btn">Подробнее...</a>

                <ul class="kode-team-network">
                  <li><a class="fa fa-facebook" href="#"></a></li>
                  <li><a class="fa fa-twitter" href="#"></a></li>
                  <li><a class="fa fa-linkedin" href="#"></a></li>
                </ul>
              </div>
            </li>


          </ul>

          <!--// Pagination //-->
          <div class="pagination">
            <a href="#"><i class="fa fa-angle-double-left"></i></a>
            <a href="#">1</a>
            <a href="#">2</a>
            <span>3</span>
            <a href="#">4</a>
            <a href="#"><i class="fa fa-angle-double-right"></i></a>
          </div>
          <!--// Pagination //-->

        </div>
      </div>
    </div>
  </div>

