<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="heading heading-12 margin-top-bottom-30">
        <p> Вся информация о ледовых аренах, стадионах и площадках в одном месте</p>
        <h1><span class="left"></span>Хоккейные арены и площадки<span class="right"></span></h1>
        <hr>
      </div>
    </div>
    <!-- Pagination -->
    <!--div class="col-md-12">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </div-->
    <div class="col-lg-4 col-sm-6 blog-item" *ngFor="let arena of arenas">
      <div class="item h-100">
        <div class="item-img">
          <a href="/arenas/{{arena.id}}"><img class="item-img-top" src="http://hockey.smargit.com/HockeyApp.WebApi{{arena.logo}}" alt="" onerror = "this.style.display = 'none'"></a>
        </div>
        <div class="item-body">
          <div class="item-title-main">
            <p>{{arena.cityName}}</p>
          </div>
          <h5 class="item-title">
            <a href="/arenas/{{arena.id}}" alt="Подробнее...">{{arena.name}}</a>
          </h5>
          <span class="item-text">
            <p>Вместимость: {{arena.capacity}} чел.</p>
            <p>Контакты: {{arena.contacts}}</p>
            <p>Электронная почта: <a href="mailto:#">{{arena.email}}</a></p>
            <p>Адрес: {{arena.address}}</p>
            <p>Сайт: <a style="color: #00aceb" target="_blank" href="{{arena.webSite}}">{{arena.webSite}}</a></p>
          </span>
        </div>
      </div>
    </div>
    <!-- Pagination -->
    <!--div class="col-md-12">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </div-->

  </div>
</div>
  <!-- /.container -->
