<div class="arena-filter container">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 admin-panel">
      <span class="toggle" (click)="toggle()" style="margin-left: 5px;"><i class="fa fa-angle-up"></i></span>
    </div>

    <div class="jumbotron col-md-12 col-lg-12 col-xs-12" [hidden]="toggled">
        <form>
            <div class="row">
              <div class="col-md-4">
                  <select [(ngModel)]="filter.arenaTypeId" name="arenaTypeId" class="form-control">
                      <option *ngFor="let arenaType of arenaTypes"  [ngValue]="arenaType.id">{{arenaType.name}}</option>
                    </select>
              </div>
              <div class="col-md-4">
                  <app-city-filter *ngIf="city" [city]="city" (onChanged)="setCity($event)"></app-city-filter>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-primary" (click)="search()">
                  <i class="fa fa-search"></i>
                </button>
                <button type="reset" class="btn btn-default">
                    <i class="fa fa-close"></i>
                  </button>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="text" name="name" [(ngModel)]="filter.searchText" placeholder="Название или адрес" class="form-control">
                </div>
            </div>
          </form>
    </div>
  </div>

</div>


