<div class="tournament-announcement-list container">
  <div class="row">
    <div class="col-lg-6 col-sm-6 blog-item" *ngFor="let tournamentAnnouncement of content">
      <div class="item h-100">
        <div class="item-img-wrapper" >
          <div class="item-img-bg-wrapper" >
            <img class="item-img-bg"
                 [src]="getTournamentAnnouncementLogo(tournamentAnnouncement)"
                 alt=""
                 onerror = "this.style.display = 'none'">
          </div>
          <a [routerLink]="['/tournament',tournamentAnnouncement.id]" routerLinkActive="active">
            <img class="item-img-main"
                 [src]="getTournamentAnnouncementLogo(tournamentAnnouncement)"
                 alt=""
                 onerror = "this.style.display = 'none'" >
          </a>
        </div>
        <div class="item-body">
          <div class="item-title-main">
            <p>
              {{tournamentAnnouncement.cityName ? tournamentAnnouncement.cityName+', ': ''}}
              {{tournamentAnnouncement.startDate | date :  "dd.MM.y"}}
              &nbsp;&mdash;&nbsp;
              {{tournamentAnnouncement.endDate | date :  "dd.MM.y"}}
            </p>
          </div>
          <h5 class="item-title admin-panel">
            <a class="title-text" (click)="viewTournamentAnnouncement(tournamentAnnouncement)" alt="Подробнее...">
              {{tournamentAnnouncement.name}}
            </a>
          </h5>
          <span class="item-text">
              <!--p class="icon-wrap" *ngIf="tournamentAnnouncement && tournamentAnnouncement.arena">
                <i class="fa fa-street-view"></i>
                &nbsp;Арена:&nbsp;
                <a [routerLink]="['/arena',tournamentAnnouncement.arena.id]" routerLinkActive="active">
                  {{tournamentAnnouncement.arena.name}}
                </a>
              </p>
              <p class="icon-wrap">
                <i class="fa fa-info-circle"></i>
                &nbsp;Организатор:&nbsp;
                <a [routerLink]="['/organization',tournamentAnnouncement.organization.id]" routerLinkActive="active">
                  {{tournamentAnnouncement.organization.name}}
                </a>
              </p-->
              <div class="row block-with-logo">
                <div class="col-md-6">
                  <p>
                    Арена:
                  </p>
                  <p>
                    <a [routerLink]="['/arena',tournamentAnnouncement.arena.id]" routerLinkActive="active">
                      {{tournamentAnnouncement.arena.name}}
                    </a>
                  </p>
                  <div class="logo-img-wrapper" >
                    <div class="logo-img-bg-wrapper" >
                    <img class="logo-img-bg"
                         [src]="getArenaLogo(tournamentAnnouncement.arena)"
                         alt="{{tournamentAnnouncement.arena.name}}"
                         onerror = "this.style.display = 'none'">
                    </div>
                    <a [routerLink]="['/arena',tournamentAnnouncement.arena.id]" routerLinkActive="active">
                    <img class="logo-img-main"
                         [src]="getArenaLogo(tournamentAnnouncement.arena)"
                         alt="{{tournamentAnnouncement.arena.name}}"
                         onerror = "this.style.display = 'none'" >
                    </a>
                  </div>
                </div>

                <div class="col-md-6">
                  <p>
                    Организатор:
                  </p>
                  <p>
                    <a [routerLink]="['/organization',tournamentAnnouncement.organization.id]" routerLinkActive="active">
                      {{tournamentAnnouncement.organization.name}}
                    </a>
                  </p>
                  <div class="logo-img-wrapper" >
                    <div class="logo-img-bg-wrapper" >
                    <img class="logo-img-bg"
                         [src]="getOrganizationLogo(tournamentAnnouncement.organization)"
                         alt="{{tournamentAnnouncement.organization.name}}"
                         onerror = "this.style.display = 'none'">
                    </div>
                    <a [routerLink]="['/organization',tournamentAnnouncement.organization.id]" routerLinkActive="active">
                    <img class="logo-img-main"
                         [src]="getOrganizationLogo(tournamentAnnouncement)"
                         alt="{{tournamentAnnouncement.organization.name}}"
                         onerror = "this.style.display = 'none'" >
                    </a>
                  </div>
                </div>

              </div>

              <p class="icon-wrap">
                <i class="fa fa-users"></i>
                Макс. количество участников:
                {{getRequiredResponseCount(tournamentAnnouncement)}}
              </p>
              <p class="icon-wrap">
                <i [class]="getAgeGroupIconClass(tournamentAnnouncement)"></i>
                Возрастная группа
              </p>
              <p class="icon-wrap"
                 *ngIf="tournamentAnnouncement.ageGroup == 'Подростки'">
                <i class="material-icons">&#xe7fb;</i>
                Возраст:
                {{tournamentAnnouncement.minAge}}-{{tournamentAnnouncement.maxAge}}
              </p>
              <p class="icon-wrap">
                <i [class]="getGenderIconClass(tournamentAnnouncement)"></i>
                Пол участников
              </p>
              <p class="icon-wrap">
                <i class="fa fa-bell"></i>
                Окончание регистрации:
                {{tournamentAnnouncement.endRegistrationDate? (tournamentAnnouncement.endRegistrationDate | date :  "dd.MM.y") : getNoData()}}
              </p>
              <span *ngIf="tournamentAnnouncement.isCommercial && tournamentAnnouncement.isCommercial == true">
                <p class="icon-wrap">
                  <i class="fa fa-rouble"></i>
                  Цена участия: {{getCostText(tournamentAnnouncement)}}
                </p>
              </span>
          </span>

          <span class="bottom-btn">
            <button (click)="viewTournamentAnnouncement(tournamentAnnouncement)"
                    class="btn btn-deep-orange waves-effect waves-light">
              Подробнее...
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
