<section class="arena-view section pb-5">

  <div class="row">

    <!--Grid column-->
    <div class="col-lg-5 mb-4">

      <!--Form with header-->
      <div class="card">

        <div class="card-body">
          <!--Header-->
          <div class="item-title-main">
            <p>{{arena.city&&arena.city.name ? arena.city.name: '' }}</p>
          </div>
          <h5 class="item-title">
             {{arena.fullName ? arena.fullName : arena.name}}
             <small>{{arena.arenaTypeId}}</small>
          </h5>
          <hr>

          <p class="icon-wrap"><i class="material-icons">&#xe7fb;</i>&nbsp;Вместимость: {{arena.capacity}} чел.</p>
          <br>

          <!--Body-->
          <img class="img-fluid rounded" [src]="getArenaLogo(arena)" alt="">

        </div>

      </div>
      <!--Form with header-->

    </div>
    <!--Grid column-->


    <!--Grid column-->
    <div class="col-lg-7">

      <br>
      <!--Buttons-->
      <div class="row text-center">
        <div class="col-md-3">
          <a class="btn-floating blue accent-1 waves-light" mdbRippleRadius><i class="fa fa-map-marker"></i></a>
          <p>{{arena.address}}</p>
        </div>

        <div class="col-md-3">
          <a class="btn-floating blue accent-1 waves-light" mdbRippleRadius><i class="fa fa-phone"></i></a>
          <p>{{arena.contacts}}</p>
        </div>

        <div class="col-md-3">
          <a class="btn-floating blue accent-1 waves-light" mdbRippleRadius><i class="fa fa-envelope"></i></a>
          <p>{{arena.email}}</p>
        </div>

        <div class="col-md-3">
          <a class="btn-floating blue accent-1 waves-light" mdbRippleRadius><i class="fa fa-envelope"></i></a>
          <p>{{arena.webSite}}</p>
        </div>
      </div>
      <div class=row>
        <div class="col-md-12">
            <map *ngIf="mapPoint" [points]="[mapPoint]"></map>
        </div>
      </div>
    </div>
    <!--Grid column-->

  </div>

  <div class="col-lg-12">
    <p class="section-description pb-4">{{arena.about}}</p>
  </div>
</section>

