<div class="school-list">
  <div class="row">
    <ng-template ngFor let-i [ngForOf]="[0]">
      <div class="col-lg-6 col-sm-6 blog-item block-item" *ngFor="let school of content">
          <div class="card h-100">
            <div class="item-img-wrapper" >
              <div class="item-img-bg-wrapper" >
                <img class="item-img-bg" [src]="getSchoolLogo(school)" alt="" onerror = "this.style.display = 'none'">
              </div>
                <a (click)="viewSchool(school)">
                  <img class="item-img-main" [src]="getSchoolLogo(school)" alt="" onerror = "this.style.display = 'none'" >
                </a>
            </div>
            <div class="item-body">
              <div class="item-title-main">
                <p>{{school.cityName ? school.cityName : '&nbsp;'}}</p>
              </div>

              <h5 class="item-title">

                <a class="title-text" (click)="viewSchool(school)" alt="Подробнее...">
                  {{school.name}}
                </a>
              </h5>
              <div class="admin-block bordered"
                   [hasPermission]="['superadministrator']"
                   onAuthorizedPermission="show"
                   onUnauthorizedPermission="hide">
                <button [hasPermission]="['superadministrator']"
                        class="btn btn-primary waves-light btn-rounded pull-left"
                        title="Редактировать школу"
                        (click)="editSchool(school)"
                        onAuthorizedPermission="show"
                        onUnauthorizedPermission="hide">
                  <i [class]="getEditIconClass()"></i>
                </button>
              </div>
              <span class="item-text">
                <p class="icon-wrap" *ngIf="school.capacity">
                  <i class="fa fa-users"></i>
                  Вместимость: {{school.capacity}} {{ school.capacity ? "чел." :"" }}
                </p>
                <p class="icon-wrap ellipsis" *ngIf="school.email">
                  <i class="fa fa-envelope"></i>
                  Электронная почта:&nbsp;<a class="short-link" href="mailto:{{school.email}}" title="{{school.email}}">{{school.email}}</a>
                </p>
                <p class="icon-wrap ellipsis" *ngIf="school.address" title="{{school.address}}">
                  <i class="fa fa-map-marker"></i>
                  Адрес: {{school.address}}
                </p>
                <p class="icon-wrap ellipsis" *ngIf="school.webSite">
                  <i class="fa fa-info-circle"></i>
                  Сайт: <a class="short-link" target="_blank" [href]="school.webSite" title="{{school.webSite}}">{{school.webSite}}</a>
                </p>
              </span>

              <span class="bottom-btn">
                <button (click)="viewSchool(school)" class="btn btn-deep-orange waves-effect waves-light">Подробнее...</button>
              </span>

            </div>
          </div>
      </div>
    </ng-template>
  </div>
</div>
