section {
  padding-top: 40px;
  padding-bottom: 40px;
}
section .section-title {
  text-align: center;
}

hr {
  margin-top: 20px;
  margin-bottom: 25px;
  max-width: 80px;
  border-color: #ffd341;
  border-width: 2px;
}

section .section-title p {
  font-size: 1.2em;
  color: gray;
  line-height: 1.5em;
  text-align: center;
}

section .m-t-4 {
  margin-bottom: 40px;
}

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 21px;
  line-height: 1.4;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  height: 655px;
}

.icons {
  height: 100px;

}
section .section-title p {
  font-size: 1.4em;
  color: gray;
  line-height: 1.5em;
  text-align: center;
}


#main {
  padding: 120px 0 120px;
}

#main {
  position: relative;
  padding: 160px 0 110px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}



