
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12 section-title">

            <h2> ОГРОМНЫЕ ВОЗМОЖНОСТИ РАБОТЫ СО СТАТИСТИКОЙ </h2>
            <img class="icons" src="assets/img/icons/statistics-icon.png" alt="Иконка статистика"  />
            <hr />
            <p class="m-t-4"> Вся статистика, клубов, команд и игроков в одном месте. Следите за достижениями любимых команд. <br></p>
          </div>

          <div class="thumbnail-list">
            <div class="col-md-4">
              <div class="thumbnail equalize">
                <img src="assets/img/glav_1.jpg" alt="Главная_1.png" />
                <div class="caption">
                  <h3><a target="_blank" href="/Logistic">Следите за статистикой любимых клубов</a></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  <p><a href="/Logistic" role="button" target="_blank" class="btn btn-primary">Подробнее</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail equalize">
                <img src="assets/img/glav_2.jpg" alt="Главная_3_пленки.png" />
                <div class="caption">
                  <h3><a target="_blank" href="/Polyfilm">Все клубы и команды в одном месте, от профессионалов до любителей</a></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  </p>
                  <p><a href="/Polyfilm" role="button" target="_blank" class="btn btn-primary">Подробнее</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail equalize">
                <img src="assets/img/glav_3.jpg" alt="Главная_2_крепи.png" />
                <div class="caption">
                  <h3><a target="_blank" href="/Titan">Добавте свою команду и собирайте статистику игр и чемпионатов</a></h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    uis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  </p>
                  <p><a href="/Titan" role="button" target="_blank" class="btn btn-primary">Подробнее</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>





