html, body {
    height: 100%;
  }

app-root {
    /* min-height: 100vh;
    position: relative; */
}

.list-container
.view-container{
	position: relative;
}

user-pic img {
  width: 35px;
  height: 35px;
}