html, body {
    height: 100%;
    margin: 0 auto;
    font-size: 14px;
  }

app-root {
    /* min-height: 100vh;
    position: relative; */
}

.list-container
.view-container{
	position: relative;
}

user-pic img {
  width: 35px;
  height: 35px;
}

/* Arena Pic, TA Pic, , Organization Pic */

.ta-pic, organization-pic, arena-pic {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.logo-img-main {
  height: 50px;
  max-width: 50px;
  filter: none;
  position: relative;
}

.logo-img-wrapper {
  height: 50px;
  width: 50px;
  text-align: center;
  position: relative;
  // margin: 0 auto 5px auto;
  display: inline-block;
  margin: 0 auto;
}

.nowrap {
  white-space: nowrap;
}

.inline-block {
  display: inline-block;
}
.logo-img-bg-wrapper {
  height: 50px;
  width: 50px;
  position: absolute;
  text-align: center;
  overflow: hidden;
}

.logo-img-bg {
  position: absolute;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background: transparent;
  top: -50px;
  left: -50px;
  width: -moz-calc(100% + 100px);
  width: -webkit-calc(100% + 100px);
  width: -o-calc(100% + 100px);
  width: calc(100% + 100px);
}

.logo-text {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nowrap .logo-text {

}
/* END OF Arena Pic, TA Pic, Organization Pic  */


/* TABLE DIV */
.div-table {
  width:100%;

  .div-table-row {
    width: 100%;
    display: flex;
  }

  .div-table-col {
    vertical-align: middle;
    text-align: center;
    //padding: 5px;
  }

  .div-table-col-left {
    text-align: left;
  }

  .div-table-col-fixed {

  }

  .div-table-col-fixed-middle {
    width: 70px;
    line-height: 50px;
  }

  .div-table-col-fixed-large {
    width: 160px;
    line-height: 50px;
  }

  .div-table-col-fixed-superlarge {
    width: 250px;
  }

  .div-table-col-fixed-supersmall {
    width: 15px;
    line-height: 50px;
  }

  .div-table-col-fixed-small {
    width: 25px;
    line-height: 50px;
  }

  .div-table-col-flex {
    flex: 1;
  }


  .div-table-col-stretch {
    flex: 1;
  }

  .div-table-col-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 50px;
  }

  .icon-wrap {
    height: 50px; line-height: 50px; margin: 0;
  }

  .icon-wrap i {
    margin: 0 auto;
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
  }
}
/* END OF TABLE DIV */




