.kode-blog-list ul li { list-style: none; }

.kode-blog-list ul li:hover img {
  opacity: 0.6;
}

.kode-blog-list figure,.kode-blog-list figure img {
  float: left;
  width: 100%;
  margin: 0px;
}

.kode-fullwidth-blog > ul > li { margin-bottom: 45px; }

/* BlogFull Width starts */
.kode-fullwidth-blog > ul > li:last-child { margin-bottom: 0px; }
.kode-fullwidth-blog > ul > li:last-child .kode-blog-info { border: none; padding-bottom: 0px; }
.kode-fullwidth-blog .kode-blog-info {
  text-align: left;
  background-color: #ffffff;
  padding: 15px 0px 30px 0px;
  border-bottom: 1px solid #d1d1d1;
}
.kode-fullwidth-blog .kode-blog-info:before { display: none; }
.kode-fullwidth-blog .kode-blog-options {
  float: left;
  padding: 4px 0px 0px 0px;
}
.kode-fullwidth-blog .kode-team-network {
  float: right;
  margin: 3px 0px 0px 0px;
}
.kode-fullwidth-blog p {
  float: left;
  padding: 13px 0px 0px 0px;
}
.kode-fullwidth-blog { float: left; }
.kode-fullwidth-blog .kode-time-zoon:before {
  left: 50%;
  margin: 0px 0px 0px -100px;
  background-color: #a5a5a5;
}

.kode-time-zoon {
  float: left;
  width: 100%;
  background-color: #f4f4f4;
  padding: 18px;
  position: relative;
}
.kode-time-zoon:before {
  content: '';
  position: absolute;
  left: 20%;
  top: -2px;
  width: 264px;
  height: 2px;
  background-color: #f4f4f4;
}
.kode-large-blog ul li:hover .kode-time-zoon time { color: #ffffff; }
.kode-blog-list ul li:hover img {
  opacity: 0.6;
}
.kode-time-zoon time {
  float: left;
  width: 79px;
  color: #ffffff;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  background-color: #2f2f2f;
  padding: 10px 0px 6px 0px;
  margin-right: 18px;
}
.kode-time-zoon time span {
  display: block;
  margin-top: 6px;
  font-size: 18px;
}
.kode-time-zoon h3 {
  text-transform: uppercase;
  padding: 14px 0px 0px 0px;
}

.kode-blog-info {
  float: left;
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px 20px 0px 20px;
  text-align: center;
  position: relative;
}
.kode-blog-info:before {
  content: '';
  position: absolute;
  left:0;
  right:0px;
  bottom: -14px;
  width: 42%;
  height: 14px;
  background-color: #f4f4f4;
  margin:auto;
}
.kode-blog-info {
  margin: 18px 0px 0px 0px;
  float: none;
  display: inline-block;
}

.kode-blog-info, .kode-blog-info:before 			{ background-color: #eaeaea; }

.kode-grid-blog .kode-blog-info:before 											{ border-bottom: 1px solid; }

.kode-blog-info { border: none; padding-bottom: 0px; }

.kode-blog-info {
  text-align: left;
  background-color: #ffffff;
  padding: 15px 0px 30px 0px;
  border-bottom: 1px solid #d1d1d1;
}
.kode-blog-info:before { display: none; }

.kode-blog-options {
  margin: 0px;
}
.kode-blog-options li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}
.kode-blog-options li i { margin-right: 6px; }
.kode-blog-options li a, .kode-blog-options li
{ color: #ffffff; }

.kode-blog-options li 											{ margin-bottom: 12px; }
.kode-blog-options li a 										{ color: #505050; }

.kode-blog-options {
  float: left;
  padding: 4px 0px 0px 0px;
}

.kode-team-network {
  float: right;
  margin-bottom: 15px;
}
.kode-team-network li {
  list-style: none;
  display: inline-block;
  margin-left: 3px;
}
.kode-team-network li a {
  display: inline-block;
  border: 1px solid #e6e6e6;
  color: #999999;
  width: 26px;
  height: 26px;
  text-align: center;
  padding: 5px 0px 0px 0px;
}
.kode-team-network li a:hover { color: #ffffff; }

.kode-team-network {
  margin: 18px 0px 0px 0px;
  float: none;
  display: inline-block;
}

.kode-grid-blog .kode-team-network li a 										{ background-color: #ffffff; }

.kode-team-network {
  float: right;
  margin: 3px 0px 0px 0px;
}

.kode-team-network { margin: 0px; }

.kode-team-network {
  float: left;
}

.kode-team-network li{
  background:#fff;
}

.kode-team-network {float:none;text-align:center;margin:10px 0;}

.kode-team-network li a:hover {
  background-color: #a5a5a5;
}

.kode-modrenbtn {
  display: inline-block;
  background-color: #2a2a2a;
  color: #ffffff;
  text-transform: uppercase;
  border: 4px solid #2a2a2a;
  box-shadow: 0px 0px 0px 1px #ffffff inset;
  padding: 5px 25px;
  margin: 9px 0px 4px 0px;
}

.kode-modrenbtn { float: left; }

.kode-modren-btn, .add_to_cart, .kode-fixer-title, .kode-time-zoon time, .kode-blog-btn, .kode-modrenbtn, .kode-table caption {
  font-family: 'Oswald', sans-serif;
}



a {
  color: #333333;
  text-decoration: none;
}

.kode-modrenbtn:hover {
  border-color: #a5a5a5 !important;
}

.kode-modrenbtn:hover {
  background-color: #a5a5a5;
}

img {
  max-width: 100%;
}

.row { margin: 0px; }


/* Pagination starts */
.pagination {
  float: left;
  width: 100%;
  text-align: center;
}
.pagination a,.pagination span {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #d7d7d7;
  color: #a5a5a5;
  padding: 5px 0px 0px 0px;
  margin-right: 6px;
}
.pagination a:hover,.pagination span { color: #ffffff; background-color: #a5a5a5;
}



/* Pagination ends */
