
<!--// Page Content //-->

<div class="container-fluid">
  <div class="row">

    <div class="col-md-12">
      <div class="heading heading-12 margin-top-bottom-30">
        <p> Все самые интересные и свежие новости о хоккее в одном месте</p>
        <h1><span class="left"></span>Новости о хоккее и  околохоккейном мире<span class="right"></span></h1>
        <hr>
      </div>


      <div class="kode-blog-list kode-fullwidth-blog">
        <ul class="row">

          <li class="col-md-12" *ngFor="let post of listData">
            <div class="kode-time-zoon">
              <time datetime="2008-02-14 20:00">07 <span>may</span></time>
              <h3 [innerHtml]="post.Title" ><a href="#"></a></h3>
            </div>
            <figure><a href="#"><img src="{{post.Logo}}" class="img-responsive" alt="Хоккейные новости"></a></figure>
            <div class="kode-blog-info">
              <ul class="kode-blog-options">
                <li><a href="#"><i class="fa fa-user"></i> {{post.PostUserName}}</a></li>
                <li><a href="#"><i class="fa fa-comment"></i> Коментарии: 3</a></li>
                <li><a href="#"><i class="fa fa-share-alt"></i> Рекомендованно: 6</a></li>
                <li><a href="{{post.SourceUrl}}"><i class="fa fa-file-text"></i> Источник: {{post.SourceName}}</a></li>
              </ul>
              <ul class="kode-team-network">
                <li><a class="fa fa-facebook" href="#"></a></li>
                <li><a class="fa fa-twitter" href="#"></a></li>
                <li><a class="fa fa-linkedin" href="#"></a></li>
              </ul>
              <p [innerHtml]="post.Summary"> </p>
              <a href="#" class="kode-modrenbtn thbg-colorhover">Читать далее ...</a>

            </div>
          </li>

        </ul>

        <!--// Pagination //-->
        <div class="pagination">
          <a href="#"><i class="fa fa-angle-double-left"></i></a>
          <a href="#">1</a>
          <a href="#">2</a>
          <span>3</span>
          <a href="#">4</a>
          <a href="#"><i class="fa fa-angle-double-right"></i></a>
        </div>
        <!--// Pagination //-->

      </div>

    </div>

  </div>
</div>

<!--// Page Content //-->




