<div class="ta-admin-list section">
  <div class="row admin-panel" [hasPermission]="['tournamentadministrator']">
    <a class="visible-btn"
       title="Добавить анонс"
       (click)="addTournamentAnnouncement()">
      <i class="fa fa-plus"></i>
    </a>
    <a class="visible-btn"
       title="Полный список"
       (click)="listTournaments()">
      <i class="fa fa-align-justify"></i>
    </a>
  </div>
  <div class="row admin-panel" [hasPermission]="['tournamentannouncementmoderator']">
    <a class="visible-btn"
       title="Полный список"
       (click)="listTournaments()">
      <i class="fa fa-align-justify"></i>
    </a>
  </div>
  <table class="table" *ngIf="content && content.length>0">
    <thead>
    <tr>
      <th class="td-small">#</th>
      <th colspan="2">Название</th>
      <th>Начало</th>
      <th>Окончание</th>
      <th>
        <p class="icon-wrap">
          <i class="fa fa-map-marker"></i>
        </p>
      </th>
      <th colspan="2" >
        <p class="icon-wrap">
          <i class="fa fa-street-view"></i>
        </p>
      </th>
      <th>
        <p class="icon-wrap td-middle">
          <i class="fa fa-users"></i>
        </p>
      </th>
      <th class="td-small">
        <p class="icon-wrap">
          <i class="fa fa-male"></i>/<i class="fa fa-child"></i>
        </p>
      </th>
      <th class="td-small">
        <p class="icon-wrap">
          <i class="fa fa-male"></i>/<i class="fa fa-female"></i>
        </p>
      </th>
      <th>
        <p class="icon-wrap">
          <i class="fa fa-bell"></i>
        </p>
      </th>
      <th>
        <p class="icon-wrap">
        <i class="fa fa-rouble"></i>
        </p>
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
    </thead>
    <tbody *ngIf="content">
    <tr *ngFor="let tournamentAnnouncement of content" [class]="getStateClass(tournamentAnnouncement)" [title]="getStateTitle(tournamentAnnouncement)">
      <th class="td-small" scope="row">{{content?.indexOf(tournamentAnnouncement)+1}}</th>
      <td>
        <div class="logo-img-wrapper" >
          <div class="logo-img-bg-wrapper" >
            <img class="logo-img-bg"
                 [src]="getTournamentAnnouncementLogo(tournamentAnnouncement)"
                 alt="{{tournamentAnnouncement.name}}"
                 onerror = "this.style.display = 'none'">
          </div>
          <a [routerLink]="['/tournament-announcement',tournamentAnnouncement.id]" routerLinkActive="active">
            <img class="logo-img-main"
                 [src]="getTournamentAnnouncementLogo(tournamentAnnouncement)"
                 alt="{{tournamentAnnouncement.name}}"
                 onerror = "this.style.display = 'none'" >
          </a>
        </div>
      </td>
      <td>
        <a *ngIf="tournamentAnnouncement" [routerLink]="['/tournament-announcement',tournamentAnnouncement.id]" routerLinkActive="active">
          {{tournamentAnnouncement.name}}
        </a>
      </td>
      <td>{{tournamentAnnouncement.startDate | date :  "dd.MM.y"}}</td>
      <td>{{tournamentAnnouncement.endDate | date :  "dd.MM.y"}}</td>
      <td>{{tournamentAnnouncement.cityName ? tournamentAnnouncement.cityName: ''}}</td>
      <td>
        <div class="logo-img-wrapper" >
          <div class="logo-img-bg-wrapper" >
            <img class="logo-img-bg"
                 *ngIf="tournamentAnnouncement && tournamentAnnouncement.arena" [src]="getArenaLogo(tournamentAnnouncement.arena)"
                 alt="{{tournamentAnnouncement.arena.name}}"
                 onerror = "this.style.display = 'none'">
          </div>
          <a *ngIf="tournamentAnnouncement && tournamentAnnouncement.arena" [routerLink]="['/arena',tournamentAnnouncement.arena.id]" routerLinkActive="active">
            <img class="logo-img-main"
                 [src]="getArenaLogo(tournamentAnnouncement.arena)"
                 alt="{{tournamentAnnouncement.arena.name}}"
                 onerror = "this.style.display = 'none'" >
          </a>
        </div>
      </td>
      <td>
        <a *ngIf="tournamentAnnouncement && tournamentAnnouncement.arena" [routerLink]="['/arena',tournamentAnnouncement.arena.id]" routerLinkActive="active">
          {{tournamentAnnouncement.arena.name}}
        </a>
      </td>
      <td class="td-middle">{{getRequiredResponseCount(tournamentAnnouncement)}}</td>
      <td>
        <p class="icon-wrap">
          <i [class]="getAgeGroupIconClass(tournamentAnnouncement)"></i>
        </p>
      </td>
      <td class="td-small">
        <p class="icon-wrap">
          <i [class]="getGenderIconClass(tournamentAnnouncement)"></i>
        </p>
      </td>
      <td>
        {{tournamentAnnouncement.endRegistrationDate? (tournamentAnnouncement.endRegistrationDate | date :  "dd.MM.y") : getNoData()}}
      </td>
      <td>
        {{getCostText(tournamentAnnouncement)}}
      </td>
      <td class="admin-panel">
        <span [hasPermission]="['tournamentadministrator']">
          <a *ngIf="tournamentAnnouncement.state == 'Draft'" class="visible-btn"
             title="Редактировать анонс"
             (click)="editTournamentAnnouncement(tournamentAnnouncement)"
             [hasPermission]="['tournamentadministrator']"
             onAuthorizedPermission="show"
             onUnauthorizedPermission="hide">
            <i [class]="getEditIconClass()"></i>
          </a>
          <a *ngIf="tournamentAnnouncement.state == 'Draft'" class="visible-btn"
             title="Отправить на модерацию"
             (click)="sendOnModeration(tournamentAnnouncement)"
             [hasPermission]="['tournamentadministrator']"
             onAuthorizedPermission="show"
             onUnauthorizedPermission="hide">
            <i [class]="getSendOnModerationIconClass()"></i>
          </a>
          <a *ngIf="tournamentAnnouncement.state == 'Draft' || tournamentAnnouncement.state == 'RejectedByModerator'" class="visible-btn"
             title="Удалить анонс"
             (click)="deleteTournamentAnnouncement(tournamentAnnouncement)"
             [hasPermission]="['tournamentadministrator']"
             onAuthorizedPermission="show"
             onUnauthorizedPermission="hide">
            <i [class]="getDeleteIconClass()"></i>
          </a>
          <a *ngIf="tournamentAnnouncement.state == 'ApprovedByModerator'" class="visible-btn"
             title="Завершить прием заявок"
             (click)="closeTournamentAnnouncement(tournamentAnnouncement)"
             [hasPermission]="['tournamentadministrator']"
             onAuthorizedPermission="show"
             onUnauthorizedPermission="hide">
            <i [class]="getCloseIconClass()"></i>
          </a>
          <a *ngIf="tournamentAnnouncement.state == 'ApprovedByModerator'" class="visible-btn"
             title="Отменить турнир"
             (click)="cancelTournamentAnnouncement(tournamentAnnouncement)"
             [hasPermission]="['tournamentadministrator']"
             onAuthorizedPermission="show"
             onUnauthorizedPermission="hide">
            <i [class]="getCancelIconClass()"></i>
          </a>
        </span>
        <span [hasPermission]="['tournamentannouncementmoderator']">
          <a *ngIf="tournamentAnnouncement.state == 'WaitModeration'" class="visible-btn"
             title="Одобрить"
             (click)="moderate(tournamentAnnouncement, true)"
             [hasPermission]="['tournamentannouncementmoderator']"
             onAuthorizedPermission="show"
             onUnauthorizedPermission="hide">
            <i [class]="getModerationIconClass(true)"></i>
          </a>
          <a *ngIf="tournamentAnnouncement.state == 'WaitModeration'" class="visible-btn"
             title="Отклонить"
             (click)="moderate(tournamentAnnouncement, false)"
             [hasPermission]="['tournamentannouncementmoderator']"
             onAuthorizedPermission="show"
             onUnauthorizedPermission="hide">
            <i [class]="getModerationIconClass(false)"></i>
          </a>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
