@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);

.ta-admin-list.div-table {
  font-size: 1rem;
  //padding: 0 0 0 15px;
}

.ta-admin-list {
  .admin-panel span {
    display: inline-block !important;
  }
  .admin-panel span a {
    display: inline-block !important;
  }
}

