<ng-template #rt let-r="result" let-t="term">
  {{ r.name}}
</ng-template>
<div class="row">
  <div class="col-md-6 form-group {{ ( isRequired === true ) ? 'required' : '' }}">
    <label for="arenaFilter">{{ getArenaTitle() }}</label>
    <input id="arenaFilter"
           name="arenaFilter"
           type="text"
           class="form-control"
           [(ngModel)]="arena"
           [ngbTypeahead]="searchArena"
           [resultTemplate]="rt"
           [inputFormatter]="formatter"
           (ngModelChange)="returnArena()"
           required="{{ ( isRequired === true ) ? 'required' : '' }}"/>
    <span *ngIf="searching">Поиск...</span>
    <div class="invalid-feedback" *ngIf="searchFailed">Извините, арен с заданными параметрами не найдено</div>
  </div>
</div>

