<div class=row>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <user-pic [user]="reply.user"></user-pic>
                    <small> {{reply.user.name}} : {{reply.createDate | date}}</small>
                </h4>
                <p class="card-text">{{reply.body}}</p>
                <button (click)="addReply(reply.id)" class="btn" [hidden]="!isUserAuthorized()">Ответить</button>
                <button (click)="addComplain(reply.id)" class="btn" [hidden]="!isUserAuthorized()">Пожаловаться</button>
                <button (click)="addVoteUp(reply.id)" class="btn btn-success" [disabled]="!isUserAuthorized()">
                    <i class="fa fa-thumbs-o-up"></i>
                </button>
                <span *ngIf="reply.votes!=0" [ngClass]="{'text-success' : reply.votes>0, 'text-danger' : reply.votes<0}">{{reply.votes}}</span>
                <button (click)="addVoteDown(reply.id)" class="btn btn-danger" [disabled]="!isUserAuthorized()">
                    <i class="fa fa-thumbs-o-down"></i>
                </button>
            </div>
        </div>

        <reply-list-item [reply]="childReply" *ngFor="let childReply of reply.replies"></reply-list-item>
    </div>
</div>
