<app-header></app-header>


<div class="wrapper">

  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-2">
        <h3>Приглашения на турнир</h3>
        <p>08/02/2016  19:41   Приглашаем на турнир в г.Калининград с 07 по 10 апреля.7-8 команд в круг. Будет интересно.</p>

        <p>06/01/2016  11:33    Добрый день! Приглашаем принять участие в Международном турнире МШСМ ЧЕРНОМОР в г.Сочи. 04.08-07.08.</p>


        <p>04/01/2016  09:12    Добрый день! Приглашаем принять участие в Международном турнире МШСМ ЧЕРНОМОР в г.Сочи. 04.08-07.08.</p>

      </div>
      <div class="col-lg-8">
        <router-outlet></router-outlet>

      </div>

      <div class="col-lg-2">
        <img src="assets/img/banners/banner_pusyoy.jpg" alt="Пустой банер">
      </div>

    </div>

  </div>

  <div class="clear"></div>

</div>
<app-footer></app-footer>
