@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);

.item[_ngcontent-c4],
.item[_ngcontent-c3]
{
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.2), 0 1px 8px 0 rgba(0,0,0,.12);
}

.item-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.item-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.h-100[_ngcontent-c3] { height: auto !important; }
.h-100 { height: auto!important; }
.h-100[_ngcontent-c4] { height: auto !important; }
.container[_ngcontent-c3] .card[_ngcontent-c3] { height: auto !important; }
.container[_ngcontent-c4] .card[_ngcontent-c4] { height: auto !important; }

.blog-item[_ngcontent-c3],
.blog-item[_ngcontent-c4]{
  margin-bottom: 30px;
  display: flex;
}

.item-title {
  //padding-bottom: .75rem;
}

.item-title a:hover {
  color: #6091ac !important;
}

h5 {
  font-size: 25px;
  text-align: center;
  color: #333333;
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  //padding-top: 15px;
}

.item-text:last-child {
  margin-bottom: 0;
}
.item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.item-title a:hover {
  color: #6091ac !important;
}

h5 {
  font-size: 25px;
  text-align: center;
  color: #333333;
  font-family: 'Roboto Slab', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  //padding-top: 15px;
}
.item-title-main p {
  background-color: lightgrey;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.item-title-main p span {
  display: block;
  font-size: 18px;
  padding-top: 6px;
}

.heading h1 {
  color: #000;
  font-family: "Open Sans",sans-serif;
  font-size: 33px;
  position: relative;
}

.heading-12 h1 {
  display: inline-block;
  font-weight: bold;
  //padding: 0 0 35px;
  position: relative;
  text-transform: uppercase;
}

.heading-12 p {
  color: #949494;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}

.heading {
  text-align: center;
}

.pagination {
  margin-bottom: 30px;
}

.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ddd;
}

/*[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}*/

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ddd;
}

/*a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}*/


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

a.page-link
.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* filter form */

form.filter {

}

table.filter {
  margin: 0 auto;
}

form.filter th {
  padding: 0 10px;
}

span.toggle {
  width: 10px;
  height: 10px;
  vertical-align: middle;
  cursor: pointer;
}

// .fa {
//   font-size: 20px;
//   padding-right: 5px;
//   min-width: 30px;
// }

a.site-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.material-icons {
  padding-right: 5px;
  width: 30px;
}
