<div class="arena-list">
  <div class="row">
    <ng-template ngFor let-i [ngForOf]="[0]">
      <div class="col-lg-6 col-sm-6 blog-item block-item" *ngFor="let arena of content">
          <div class="card h-100">
            <div class="item-img-wrapper" >
              <div class="item-img-bg-wrapper" >
                <img class="item-img-bg" [src]="getArenaLogo(arena)" alt="" onerror = "this.style.display = 'none'">
              </div>
                <a (click)="viewArena(arena)">
                  <img class="item-img-main" [src]="getArenaLogo(arena)" alt="" onerror = "this.style.display = 'none'" >
                </a>
            </div>
            <div class="item-body">
              <div class="item-title-main">
                <p>{{arena.cityName ? arena.cityName : '&nbsp;'}}</p>
              </div>

              <h5 class="item-title">

                <a class="title-text" (click)="viewArena(arena)" alt="Подробнее...">
                  {{arena.name}}
                </a>
              </h5>
              <div class="admin-block bordered"
                   [hasPermission]="['superadministrator']"
                   onAuthorizedPermission="show"
                   onUnauthorizedPermission="hide">
                <button [hasPermission]="['superadministrator']"
                        class="btn btn-primary waves-light btn-rounded pull-left"
                        title="Редактировать арену"
                        (click)="editArena(arena)"
                        onAuthorizedPermission="show"
                        onUnauthorizedPermission="hide">
                  <i [class]="getEditIconClass()"></i>
                </button>
              </div>
              <span class="item-text">
                <p class="icon-wrap" *ngIf="arena.capacity">
                  <i class="fa fa-users"></i>
                  Вместимость: {{arena.capacity}} {{ arena.capacity ? "чел." :"" }}
                </p>
                <p class="icon-wrap ellipsis" *ngIf="arena.email">
                  <i class="fa fa-envelope"></i>
                  Электронная почта:&nbsp;<a class="short-link" href="mailto:{{arena.email}}" title="{{arena.email}}">{{arena.email}}</a>
                </p>
                <p class="icon-wrap ellipsis" *ngIf="arena.address" title="{{arena.address}}">
                  <i class="fa fa-map-marker"></i>
                  Адрес: {{arena.address}}
                </p>
                <p class="icon-wrap ellipsis" *ngIf="arena.webSite">
                  <i class="fa fa-info-circle"></i>
                  Сайт: <a class="short-link" target="_blank" [href]="arena.webSite" title="{{arena.webSite}}">{{arena.webSite}}</a>
                </p>
              </span>

              <span class="bottom-btn">
                <button (click)="viewArena(arena)" class="btn btn-deep-orange waves-effect waves-light">Подробнее...</button>
              </span>

            </div>
          </div>
      </div>
    </ng-template>
  </div>
</div>
