h1, p {

  color: #ff7043;
}

#main {
  position: relative;
  padding: 160px 0 110px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(header.jpg);
  margin-bottom: 40px;
  margin-top: 0px;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}
