
<!--// Page Content //-->

<div class="container-fluid">
  <div class="row">

    <div class="col-md-12">
      <div class="heading heading-12 margin-top-bottom-30">
        <p> Все самые интересные и свежие новости о хоккее в одном месте</p>
        <h1><span class="left"></span>Новости о хоккее и  околохоккейном мире<span class="right"></span></h1>
        <hr>
      </div>


      <div class="kode-blog-list kode-fullwidth-blog">

        <news-list *ngIf="listData" [content]="listData"></news-list>

        <pagination [page]="1" [collectionSize]="10" [pageSize]="5"></pagination>

      </div>

    </div>

  </div>
</div>




