
<!--// Page Content //-->

<div class="container-fluid">
  <div class="row">

    <div class="col-md-12">
      <div class="heading heading-12 margin-top-bottom-30">
        <p> Все самые интересные и свежие новости о хоккее в одном месте</p>
        <h1><span class="left"></span>Новости о хоккее и  околохоккейном мире<span class="right"></span></h1>
        <hr>
      </div>


      <div class="kode-blog-list kode-fullwidth-blog">

        <news-list [content]="listData"></news-list>

        <!--// Pagination //-->
        <div class="pagination">
          <a href="#"><i class="fa fa-angle-double-left"></i></a>
          <a href="#">1</a>
          <a href="#">2</a>
          <span>3</span>
          <a href="#">4</a>
          <a href="#"><i class="fa fa-angle-double-right"></i></a>
        </div>
        <!--// Pagination //-->

      </div>

    </div>

  </div>
</div>

<!--// Page Content //-->




