<loader [hidden]="!dataIsLoading"></loader>
<div class="arenas" *ngIf="arenaList">
  <div class="row">
    <div class="col-md-12">
      <div class="heading heading-12 margin-top-bottom-30">
        <p> Вся информация о ледовых аренах, стадионах и площадках в одном месте</p>
        <h1>
          <span class="left"></span>
          Хоккейные арены и площадки
          <span class="right"></span>
        </h1>
        <hr>
      </div>
    </div>
  </div>
  <div class="div-table">
    <div class="div-table-row">
      <div class="div-table-col div-table-col-fixed div-table-col-left">
        <arena-filter [filter]="filter"
                   (onFiltered)="onFiltered($event)">
        </arena-filter>
      </div>
      <div class="div-table-col div-table-col-flex">
        <div class="operations-panel navbar navbar-right pull-right">
          <button [hasPermission]="['superadministrator']"
                  class="btn btn-primary waves-light"
                  title="Добавить новую арену"
                  (click)="addTournamentAnnouncement()"
                  onAuthorizedPermission="show"
                  onUnauthorizedPermission="hide">
            <i [class]="getAddIconClass()"></i>
          </button>
          <sorting [hidden]="dataIsLoading" *ngIf="arenaList"
                   [orderBy]="listInfo.orderBy"
                   [orderDir]="listInfo.orderDir"
                   [options]="sortOptions"
                   (onSorted)="onSorted($event)">
          </sorting>
        </div>
        <div class="content-wrapper">
          <div class="info-block">
          </div>
          <arena-list [content]="arenaList.listItems">
          </arena-list>
          <pagination [page]="listInfo.page"
                      [collectionSize]="arenaList.count"
                      [pageSize]="listInfo.take">
          </pagination>
        </div>
      <!--div class="div-table-col div-table-col-fixed div-table-col-left">
          <arena-filter [filter]="filter"
                        (onFiltered)="onFiltered($event)">
          </arena-filter>
      </div>
      <div class="div-table-col div-table-col-flex">
        <sorting
                 [orderBy]="listInfo.orderBy"
                 [orderDir]="listInfo.orderDir"
                 [options]="sortOptions"
                 (onSorted)="onSorted($event)"
                  class="pull-right">
        </sorting>
        <arena-list [content]="arenaList.listItems">
        </arena-list>
        <pagination [page]="listInfo.page"
                    [collectionSize]="arenaList.count"
                    [pageSize]="listInfo.take">
        </pagination>
      </div-->
      </div>
    </div>
  </div>
</div>
