<loader [hidden]="!dataIsLoading"></loader>
<div class="tournament-create col-md-offset-12 col-md-12" *ngIf="tournament">
  <h2>Конструктор турнира</h2>
  <div>Конструктор хоккейных турниров поможет Вам внести данные о прошедшем турнире в базу данных портала. Просто следуйте инструкциям на сайте. Более подробную информацию и видео-инструкции Вы найдете в разделе FAQ.</div>
  <!--form #myForm="ngForm"-->
      <div class="steps-row-2 setup-panel-2 d-flex justify-content-between">
        <div class="steps">
          <span class="btn {{ ( step == 1 ) ? 'btn-primary' : 'grey' }}" (click)="changeStep(1)" data-placement="top" title="Общие данные">Общие данные</span>
        </div>
        <div class="steps">
          <span class="btn {{ ( step == 2 ) ? 'btn-primary' : 'grey' }}" (click)="changeStep(2)" data-placement="top" title="Арены">Арены</span>
        </div>
        <div class="steps">
          <span class="btn {{ ( step == 3 ) ? 'btn-primary' : 'grey' }}" (click)="changeStep(3)" data-placement="top" title="Команды">Команды</span>
        </div>
        <div class="steps">
          <span class="btn {{ ( step == 4 ) ? 'btn-primary' : 'grey' }}" (click)="changeStep(4)" data-placement="top" title="Судьи">Судьи</span>
        </div>
        <div class="steps">
          <span class="btn {{ ( step == 5 ) ? 'btn-primary' : 'grey' }}" (click)="changeStep(5)" data-placement="top" title="Система проведения">Система проведения</span>
        </div>
        <div class="steps">
          <span class="btn {{ ( step == 6 ) ? 'btn-primary' : 'grey' }}" (click)="changeStep(6)" data-placement="top" title="Расписание">Расписание</span>
        </div>
        <div class="steps">
          <span class="btn {{ ( step == 6 ) ? 'btn-primary' : 'grey' }}" (click)="changeStep(6)" data-placement="top" title="Завершение">Завершение</span>
        </div>
      </div>
      <div id="step-1" *ngIf="step == 1">
        ШАГ 1. ОБЩИЕ ХАРАКТЕРИСТИКИ ТУРНИРА
        <div class="row">
          <div class="col-md-4">
            <div class="form-group required">
              <label for="tname">1. Название турнира</label>
              <input type="text" class="form-control" name="tname" [(ngModel)]="tournament.name" (ngModelChange)="tournament.name = $event" #taname="ngModel" id="taname" title="Введите название турнира" required="required"/>
            </div>
            <label for="season">Сезон</label>
            <select class="form-group" [(ngModel)]="tournament.season" name="season" class="form-control" #season="ngModel" id="season" (ngModelChange)="tournament.season = $event">
              <option *ngFor="let season of seasonTypes" [ngValue]="season.value" >{{season.name}}</option>
            </select>
            <div class="form-group">
              <label>2.Даты проведения</label>
              <app-datepicker [dt]="tournament.startDate" (onChanged)="onChangedStartDt($event); ( oneDay === true ) ? onChangedEndDt($event) : '';"></app-datepicker>
              <app-datepicker [dt]="tournament.endDate" (onChanged)="onChangedEndDt($event)" class="{{ ( oneDay === true ) ? 'disabled' : '' }}"></app-datepicker>
              <input type="checkbox" name="oneDay" [(ngModel)]="oneDay">Турнир проходит в один день
            </div>
            <label for="gender">Пол участников</label>
            <select class="form-group" [(ngModel)]="tournament.gender" name="gender" class="form-control" #gender="ngModel" id="gender" (ngModelChange)="tournament.gender = $event">
              <option *ngFor="let genderType of genderTypes"  [ngValue]="genderType.value" >{{genderType.name}}</option>
            </select>
            <label for="ageGroup">Возрастная группа</label>
            <select class="form-group" [(ngModel)]="tournament.ageGroup" name="ageGroup" class="form-control" #ageGroup="ngModel" id="ageGroup" (ngModelChange)="tournament.ageGroup = $event">
              <option *ngFor="let age of ageTypes" [ngValue]="age.value" >{{age.name}}</option>
            </select>
            <label for="age">Год рождения</label>
            <select class="form-group" [(ngModel)]="tournament.year" name="year" class="form-control" #year="ngModel" id="year" (ngModelChange)="tournament.year = $event">
              <option *ngFor="let year of yearTypes" [ngValue]="year.value" >{{year.name}}</option>
            </select>
            <!--label for="division">Дивизион/группы/этапы</label>
            <select class="form-group" [(ngModel)]="tournament.division" name="division" class="form-control" #division="ngModel" id="division" (ngModelChange)="tournament.division = $event">
              <option *ngFor="let division of divisionTypes" [ngValue]="division.value" >{{division.name}}</option>
            </select-->
          </div>
        </div>
      </div>
      <div id="step-2" *ngIf="step == 2">
        ШАГ 2. АРЕНЫ
          <div class="row vertical-align">
            <div class="col-md-4 form-group required">
              <arena-select [arena]="arena" [isRequired]="true" [showArenaTitle]="false" (onChanged)="setArena($event)"></arena-select>
            </div>
            <div class="col-md-1 vertical-align">
              <button [hasPermission]="['tournamentadministrator']"
                      class="btn btn-primary waves-light"
                      title="Добавить арену"
                      (click)="addArena(arena)"
                      onAuthorizedPermission="show"
                      onUnauthorizedPermission="hide"
                      [disabled]="dataIsLoading || !arena">
                <i [class]="getAddIconClass()"></i>
              </button>
            </div>
            <div class="col-md-7">
              После выбора арены нажмите + <br/>и арена автоматически добавится в список
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span>Если Вашей арены/площадки не в списке, необходимо <br/>создать арену самостоятельно ("Создать арену").</span>
            </div>
          </div>
          <div class="row vertical-align">
            <div class="col-md-5 vertical-align">
              <arena-create-fast [isDisabled]="dataIsLoading" (onChanged)="setArenaDraft($event)"></arena-create-fast>
            </div>
          </div>
        <div class="row">
          <div class="col-md-6" *ngIf="tournament.arenas.length == 0">
            <br/>
            Список арен пуст.
            <br/>
            <br/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="list-table" *ngFor="let arenaItem of tournament.arenas">
              <div class="row" *ngIf="tournament.arenas?.indexOf(arenaItem) == 0">
                <div class="col-md-1"></div>
                <div class="col-md-5 text-center">Название</div>
                <div class="col-md-6">&nbsp;Удалить&nbsp;&nbsp;&nbsp;Вниз&nbsp;&nbsp;&nbsp;Вверх</div>
              </div>
              <div class="row vertical-align">
                <div class="col-md-1">
                  {{tournament.arenas?.indexOf(arenaItem)+1}}.
                </div>
                <div class="col-md-5 table-row-selection" (click)="setSelectionArena(arenaItem)" tabindex="{{tournament.arenas?.indexOf(arenaItem)+1}}">
                  {{arenaItem.name }} {{arenaItem.cityName ? ' (' + arenaItem.cityName + ')' : ''}}
                </div>
                <div class="col-md-6">
                  <div class="operations-panel navbar navbar-left pull-left">
                    <button [hasPermission]="['tournamentadministrator']"
                            class="btn btn-danger waves-light"
                            title="Удалить арену из списка"
                            (click)="removeArena(arenaItem)"
                            onAuthorizedPermission="show"
                            onUnauthorizedPermission="hide"
                            [disabled]="dataIsLoading || !arenaItem">
                      <i [class]="getDeleteIconClass()"></i>
                    </button>
                    <button [hasPermission]="['tournamentadministrator']"
                            class="btn btn-primary waves-light"
                            title="Переместить ниже в списке"
                            (click)="moveArenaDown(arenaItem)"
                            onAuthorizedPermission="show"
                            onUnauthorizedPermission="hide"
                            [disabled]="dataIsLoading || !arenaItem || tournament.arenas?.indexOf(arenaItem) == tournament.arenas.length-1 || tournament.arenas.length < 2">
                      <i [class]="getMoveDownIconClass()"></i>
                    </button>
                    <button [hasPermission]="['tournamentadministrator']"
                            class="btn btn-primary waves-light"
                            title="Переместить выше в списке"
                            (click)="moveArenaUp(arenaItem)"
                            onAuthorizedPermission="show"
                            onUnauthorizedPermission="hide"
                            [disabled]="dataIsLoading || !arenaItem || tournament.arenas.length < 2 || tournament.arenas?.indexOf(arenaItem) == 0">
                      <i [class]="getMoveUpIconClass()"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row" *ngIf="activeArena">
              <div class="col-md-12 text-center">
                Информация об арене
              </div>
            </div>
            <div class="row" *ngIf="activeArena">
              <div class="col-md-2">
                  № п/п
              </div>
              <div class="col-md-3">
                  Название арены
              </div>
              <div class="col-md-3">
                  Город
              </div>
              <div class="col-md-4">
                  Адрес
              </div>
            </div>
            <div class="row" *ngIf="activeArena">
              <div class="col-md-2">
                  1
              </div>
              <div class="col-md-3">
                {{activeArena.name}}
              </div>
              <div class="col-md-3">
                {{activeArena.cityName}}
              </div>
              <div class="col-md-4">
                {{activeArena.address}}
              </div>
            </div>
          </div>
        </div>
      </div>
    <div id="step-3" *ngIf="step == 3">
      ШАГ 3. КОМАНДЫ
      <div class="row vertical-align">
        <div class="col-md-4 form-group required">
          <team-select [team]="team" [isRequired]="true" [showTeamTitle]="false" (onChanged)="setTeam($event)"></team-select>
        </div>
        <div class="col-md-1 vertical-align">
          <button [hasPermission]="['tournamentadministrator']"
                  class="btn btn-primary waves-light"
                  title="Добавить команду"
                  (click)="addTeam(team)"
                  onAuthorizedPermission="show"
                  onUnauthorizedPermission="hide"
                  [disabled]="dataIsLoading || !team">
            <i [class]="getAddIconClass()"></i>
          </button>
        </div>
        <div class="col-md-7">
          После выбора команды нажмите + <br/>и команда автоматически добавится в список
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" *ngIf="tournament.teams.length == 0">
          <br/>
          Список команд пуст.
          <br/>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="list-table" *ngFor="let teamItem of tournament.teams">
            <div class="row" *ngIf="tournament.teams?.indexOf(teamItem) == 0">
              <div class="col-md-1"></div>
              <div class="col-md-5 text-center">Название</div>
              <div class="col-md-6">&nbsp;Удалить&nbsp;&nbsp;&nbsp;Вниз&nbsp;&nbsp;&nbsp;Вверх&nbsp;&nbsp;&nbsp;Состав</div>
            </div>
            <div class="row vertical-align">
              <div class="col-md-1">
                {{tournament.teams?.indexOf(teamItem)+1}}.
              </div>
              <div class="col-md-5 table-row-selection" (click)="setSelectionTeam(teamItem)" tabindex="{{tournament.teams?.indexOf(teamItem)+1}}">
                {{teamItem.name }} {{teamItem.cityName ? ' (' + teamItem.cityName + ')' : ''}}
              </div>
              <div class="col-md-6">
                <div class="operations-panel navbar navbar-left pull-left">
                  <button [hasPermission]="['tournamentadministrator']"
                          class="btn btn-danger waves-light"
                          title="Удалить команду из списка"
                          (click)="removeTeam(teamItem)"
                          onAuthorizedPermission="show"
                          onUnauthorizedPermission="hide"
                          [disabled]="dataIsLoading || !teamItem">
                    <i [class]="getDeleteIconClass()"></i>
                  </button>
                  <button [hasPermission]="['tournamentadministrator']"
                          class="btn btn-primary waves-light"
                          title="Переместить ниже в списке"
                          (click)="moveTeamDown(teamItem)"
                          onAuthorizedPermission="show"
                          onUnauthorizedPermission="hide"
                          [disabled]="dataIsLoading || !teamItem || tournament.teams?.indexOf(teamItem) == tournament.teams.length-1 || tournament.teams.length < 2">
                    <i [class]="getMoveDownIconClass()"></i>
                  </button>
                  <button [hasPermission]="['tournamentadministrator']"
                          class="btn btn-primary waves-light"
                          title="Переместить выше в списке"
                          (click)="moveTeamUp(teamItem)"
                          onAuthorizedPermission="show"
                          onUnauthorizedPermission="hide"
                          [disabled]="dataIsLoading || !teamItem || tournament.teams.length < 2 || tournament.teams?.indexOf(teamItem) == 0">
                    <i [class]="getMoveUpIconClass()"></i>
                  </button>
                  <player-set [team]="teamItem" (onChanged)="setPlayersForTeam($event)"></player-set>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row" *ngIf="activeTeam">
            <div class="col-md-12 text-center">
              Проверьте список добавленных игроков
            </div>
            <div class="col-md-12 text-center">
              {{activeTeam.name }}{{activeTeam.city? ' ('+activeTeam.city.name+')': ''}}
            </div>
          </div>
          <div class="row" *ngIf="activeTeam">
            <div class="col-md-2">
              № п/п
            </div>
            <div class="col-md-4">
              ФИО игрока
            </div>
            <div class="col-md-2">
              Номер
            </div>
            <div class="col-md-4">
              Дата рождения
            </div>
          </div>
          <div class="row" *ngFor="let player of activeTeam?.players">
            <div class="col-md-1">
              {{activeTeam.players?.indexOf(player)+1}}
            </div>
            <div class="col-md-4">
              {{player.name}}
            </div>
            <div class="col-md-3">
              {{player.id}}
            </div>
            <div class="col-md-4">
              {{player.birthdate}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="step-4" *ngIf="step == 4">
      ШАГ 4. СУДЬИ
      <div class="row vertical-align">
        <div class="col-md-4 form-group required">
          <referee-select [referee]="referee" [isRequired]="true" [showRefereeTitle]="false" (onChanged)="setReferee($event)"></referee-select>
        </div>
        <div class="col-md-1 vertical-align">
          <button [hasPermission]="['tournamentadministrator']"
                  class="btn btn-primary waves-light"
                  title="Добавить судью"
                  (click)="addReferee(referee)"
                  onAuthorizedPermission="show"
                  onUnauthorizedPermission="hide"
                  [disabled]="dataIsLoading || !referee">
            <i [class]="getAddIconClass()"></i>
          </button>
        </div>
        <div class="col-md-7">
          После выбора судьи нажмите + <br/>и судья автоматически добавится в список
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span>Если нужного судьи нет в списке, необходимо <br/>создать судью самостоятельно ("Создать судью").</span>
        </div>
      </div>
      <div class="row vertical-align">
        <div class="col-md-5 vertical-align">
          <button [hasPermission]="['tournamentadministrator']"
                  class="btn btn-primary waves-light"
                  title="Создать нового судью"
                  (click)="toggledNewReferee=true"
                  onAuthorizedPermission="show"
                  onUnauthorizedPermission="hide"
                  [disabled]="dataIsLoading">
            <i [class]="getAddIconClass()"></i>&nbsp;&nbsp;Создать судью
          </button>
        </div>
      </div>
      <form #newrefereeForm="ngForm" class="row toggled-form" [hidden]="!toggledNewReferee">
        <div class="col-md-4 form-group required">
          <label for="newrefereename">Имя судьи</label>
          <input type="text" class="form-control" name="newrefereename" [(ngModel)]="newreferee.name" (ngModelChange)="newreferee.name = $event" #newrefereename="ngModel" id="newrefereename" title="Введите имя судьи" required="required"/>
        </div>
        <div class="col-md-6 vertical-align">
          <button [hasPermission]="['tournamentadministrator']"
                  class="btn btn-primary waves-light"
                  title="Добавить нового судью"
                  (click)="createReferee()"
                  onAuthorizedPermission="show"
                  onUnauthorizedPermission="hide"
                  [disabled]="dataIsLoading || newrefereeForm.invalid">
            <i [class]="getAddIconClass()"></i>&nbsp;&nbsp;Добавить
          </button>
        </div>
      </form>
      <div class="row">
        <div class="col-md-6" *ngIf="tournament.referees.length == 0">
          <br/>
          Список судей пуст.
          <br/>
          <br/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="list-table" *ngFor="let refereeItem of tournament.referees">
            <div class="row" *ngIf="tournament.referees?.indexOf(refereeItem) == 0">
              <div class="col-md-1"></div>
              <div class="col-md-5 text-center">ФИО</div>
              <div class="col-md-6">&nbsp;Удалить&nbsp;&nbsp;&nbsp;Вниз&nbsp;&nbsp;&nbsp;Вверх</div>
            </div>
            <div class="row vertical-align">
              <div class="col-md-1">
                {{tournament.referees?.indexOf(refereeItem)+1}}.
              </div>
              <div class="col-md-5 table-row-selection" (click)="setSelectionReferee(refereeItem)" tabindex="{{tournament.referees?.indexOf(refereeItem)+1}}">
                {{refereeItem.name }} {{refereeItem.cityName ? ' (' + refereeItem.cityName + ')' : ''}}
              </div>
              <div class="col-md-6">
                <div class="operations-panel navbar navbar-left pull-left">
                  <button [hasPermission]="['tournamentadministrator']"
                          class="btn btn-danger waves-light"
                          title="Удалить судью из списка"
                          (click)="removeReferee(refereeItem)"
                          onAuthorizedPermission="show"
                          onUnauthorizedPermission="hide"
                          [disabled]="dataIsLoading || !refereeItem">
                    <i [class]="getDeleteIconClass()"></i>
                  </button>
                  <button [hasPermission]="['tournamentadministrator']"
                          class="btn btn-primary waves-light"
                          title="Переместить ниже в списке"
                          (click)="moveRefereeDown(refereeItem)"
                          onAuthorizedPermission="show"
                          onUnauthorizedPermission="hide"
                          [disabled]="dataIsLoading || !refereeItem || tournament.referees?.indexOf(refereeItem) == tournament.referees.length-1 || tournament.referees.length < 2">
                    <i [class]="getMoveDownIconClass()"></i>
                  </button>
                  <button [hasPermission]="['tournamentadministrator']"
                          class="btn btn-primary waves-light"
                          title="Переместить выше в списке"
                          (click)="moveRefereeUp(refereeItem)"
                          onAuthorizedPermission="show"
                          onUnauthorizedPermission="hide"
                          [disabled]="dataIsLoading || !refereeItem || tournament.referees.length < 2 || tournament.referees?.indexOf(refereeItem) == 0">
                    <i [class]="getMoveUpIconClass()"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row" *ngIf="activeReferee">
            <div class="col-md-12 text-center">
              Информация о судье
            </div>
          </div>
          <div class="row" *ngIf="activeReferee">
            <div class="col-md-2">
              № п/п
            </div>
            <div class="col-md-2">
              ФИО судьи
            </div>
            <div class="col-md-2">
              Амплуа
            </div>
            <div class="col-md-2">
              Дата рождения
            </div>
            <div class="col-md-1">
              Пол
            </div>
            <div class="col-md-1">
              Номер
            </div>
            <div class="col-md-2">
              Категория
            </div>
          </div>
          <div class="row" *ngIf="activeReferee">
            <div class="col-md-1">
              1
            </div>
            <div class="col-md-3">
              {{activeReferee.name}}
            </div>
            <div class="col-md-2">
              {{activeReferee.refereeAmplua}}
            </div>
            <div class="col-md-2">
              {{activeReferee.birthdate | date}}
            </div>
            <div class="col-md-1">
              {{activeReferee.gender}}
            </div>
            <div class="col-md-1">
              {{activeReferee.number}}
            </div>
            <div class="col-md-1">
              {{activeReferee.refereeType.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="step-5" *ngIf="step == 5">
      ШАГ 5. СИСТЕМА ПРОВЕДЕНИЯ
      <div class="row vertical-align small-fields text-center">
        <div class="col-md-12">
          <label for="levelCount">Количество этапов в турнире</label>
          <input type="number" id="levelCount" min="1" max="10" step="1" [(ngModel)]="tournamentRoundCount" class="text-center" (ngModelChange)="changeRoundCount()">
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-10">
          <ng-template ngFor [ngForOf]="[].constructor(tournamentRoundCount)" let-i="index">
            <div class="row">
              <div class="col-md-12">
                ЭТАП {{i + 1}}
              </div>
            </div>
            <div *ngIf="i==(tournamentRoundCount-1)" class="row small-fields">
              <div class="col-md-6">
                <label for="roundType">Система проведения {{i + 1}} этапа</label>
                <select class="form-group" class="form-control">
                  <option *ngFor="let roundType of roundTypes">{{roundType.name}}</option>
                </select>
                <div class="col-md-6">
                  &nbsp;
                </div>
             </div>
            </div>
            <div *ngIf="i==(tournamentRoundCount-1)" class="row small-fields">
              <div class="col-md-6 text-center">
                <label for="victoryGameCount">Количество игр для победы</label><br/>
                <input type="number" id="victoryGameCount" min="1" max="10" step="1" value="2" class="text-center">
              </div>
              <div class="col-md-6 text-center">
                <label for="victoryGameFinalCount">Количество игр для победы в финале</label><br/>
                <input type="number" id="victoryGameFinalCount" min="1" max="10" step="1" value="1" class="text-center">
              </div>
            </div>
            <div *ngIf="i!=(tournamentRoundCount-1)">
              <div class="row small-fields">
                <div class="col-md-6">
                  <label for="roundType">Система проведения {{i + 1}} этапа</label>
                  <!--select class="form-group" [(ngModel)]="" name="roundType" class="form-control" #roundType="ngModel" id="roundType" (ngModelChange)="roundType = $event" (onChange)="changeRoundType()">
                    <option *ngFor="let roundType of roundTypes"  [ngValue]="roundType.value" >{{roundType.name}}</option>
                  </select-->
                  <select class="form-group" class="form-control">
                    <option *ngFor="let roundType of roundTypes" [ngValue]="roundType.value">{{roundType.name}}</option>
                  </select>
                </div>
                <div class="col-md-6 text-center">
                  <label for="groupCount_{{i+1}}">Кол-во групп/дивизионов на {{i + 1}} этапе</label><br/>
                  <input type="number" id="groupCount_{{i+1}}" min="1" max="10" step="1" value="1" class="text-center" [(ngModel)]="groupCounts[i]" >
                </div>
                <br/>
              </div>
              <ng-template ngFor [ngForOf]="[].constructor(groupCounts[i])" let-i="index">
                <br/>
                <div class="row">
                  <div class="col-md-6">
                    <label for="group_{{i+1}}">ГРУППА {{i + 1}}</label><br/>
                    <input type="text" id="groupName_{{i+1}}" placeholder="Введите название группы. (Пример: Группа А)">
                  </div>
                  <div class="col-md-6">
                   &nbsp;
                  </div>
                </div>
                <br/>
                <div class="row text-center">
                  <div class="col-md-6 small-fields">
                    <label for="markCount_{{i+1}}">Кол-во очков за победу</label><br/>
                    <input type="number" id="markCount_{{i+1}}" min="1" max="100" step="1" value="2" class="text-center">
                  </div>
                  <div class="col-md-6 text-center small-fields">
                    <label for="teamCount_{{i+1}}">Кол-во команд в группе {{i + 1}}</label><br/>
                    <input type="number" id="teamCount_{{i+1}}" min="1" max="10" step="1" value="2" class="text-center">
                  </div>
                  <br/>
                </div>
              </ng-template>
            </div>
            <hr/>
          </ng-template>
        </div>
        <div class="col-md-2">
          <div class="list-table" *ngFor="let teamItem of tournament.teams">
            <div class="row" *ngIf="tournament.teams?.indexOf(teamItem) == 0">
              <div class="col-md-12 text-center">
                Команды
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                {{tournament.teams?.indexOf(teamItem)+1}}.
              </div>
              <div class="col-md-9">
                {{teamItem.name }} {{teamItem.cityName ? ' (' + teamItem.cityName + ')' : ''}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="step-6" *ngIf="step == 6">
      ШАГ 6. РАСПИСАНИЕ ИГР
      <div class="row vertical-align">
        <div class="col-md-2 form-group required">
          <label for="tournamentType">Тип турнира</label>
          <select class="form-group" [(ngModel)]="tournament.tournamentType" name="tournamentType" class="form-control" #tournamentType="ngModel" id="tournamentType" (ngModelChange)="tournament.tournamentType = $event" (onChange)="changeTournamentType()">
            <option *ngFor="let tournamentType of tournamentTypes"  [ngValue]="tournamentType.value" >{{tournamentType.name}}</option>
          </select>
        </div>
        <div class="col-md-4 twoWays">
          <label for="twoWays">Игра на своем и чужом поле? &nbsp;</label>
          <div class="btn-group btn-group-toggle" ngbRadioGroup name="twoWays" [(ngModel)]="twoWays" (change)="changeTwoWays(twoWays)">
            <label class="btn-primary label-button fixed-size-button-s" ngbButtonLabel>
              <input type="radio" name="yesTwoWays" ngbButton [value]="1">Да
            </label>
            <label class="btn-primary label-button fixed-size-button-s" ngbButtonLabel>
              <input type="radio" name="noTwoWays" ngbButton [value]="0">Нет
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="list-table" *ngFor="let teamItem of tournament.teams">
            <div class="row" *ngIf="tournament.teams?.indexOf(teamItem) == 0">
              <div class="col-md-12">
                Команды
              </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                  {{tournament.teams?.indexOf(teamItem)+1}}.
                </div>
                <div class="col-md-9">
                  {{teamItem.name }} {{teamItem.cityName ? ' (' + teamItem.cityName + ')' : ''}}
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-10" *ngIf="this.tournament.tournamentType=='Round' && this.gamesRound.length == 0">
          Для кругового турнира необходимо четное количество участников.
          Внесите необходимые изменения на шаге "Команды".
        </div>
        <div class="col-md-10" *ngIf="this.tournament.tournamentType=='Play-off' && this.gamesPlayOff.length == 0">
          Для плей-офф турнира количество участников должно быть степенью двойки (2/4/16/32 и т.д.).
          Внесите необходимые изменения на шаге "Команды".
        </div>
        <div class="col-md-10">
          <div class="row vertical-align" *ngIf="this.tournament.tournamentType == 'Play-off'">
            <div class="col-md-12 text-center">
              ПЕРВЫЙ ТУР
            </div>
          </div>
          <div class="list-table games-table" *ngFor="let gameItem of (this.tournament.tournamentType =='Play-off' ? this.gamesPlayOff : this.gamesRound)">
            <div class="row vertical-align text-center" *ngIf="(this.tournament.tournamentType == 'Play-off' ? this.gamesPlayOff : this.gamesRound)?.indexOf(gameItem) == 0">
              <div class="col-md-1">
                №
              </div>
              <div class="col-md-2">
                Дата игры
              </div>
              <div class="col-md-1">
                Время
              </div>
              <div class="col-md-3">
                Команда 1
              </div>
              <div class="col-md-3">
                Команда 2
              </div>
              <div class="col-md-2">
                Арена
              </div>
            </div>
            <div class="row vertical-align">
              <div class="col-md-1">
                {{(this.tournament.tournamentType=='Play-off' ? this.gamesPlayOff : this.gamesRound)?.indexOf(gameItem)+1}}.
              </div>
              <div class="col-md-2">
                <app-datepicker [dt]="gameItem.date" (onChanged)="gameItem.date = $event"></app-datepicker>
              </div>
              <div class="col-md-1">
                <ngb-timepicker [(ngModel)]="gameItem.time"></ngb-timepicker>
              </div>
              <div class="col-md-3">
                <select class="form-group" [(ngModel)]="gameItem.team1" name="team1" class="form-control" #team1="ngModel" id="team1" (ngModelChange)="changeTeamForGame(gameItem,$event)">
                  <option *ngFor="let teamItem of tournament.teams" [ngValue]="teamItem" >{{teamItem.name + (teamItem.cityName ? (' (' + teamItem.cityName + ')') : '')}}</option>
                </select>
              </div>
              <div class="col-md-3">
                <select class="form-group" [(ngModel)]="gameItem.team2" name="team2" class="form-control" #team2="ngModel" id="team2" (ngModelChange)="gameItem.team2 = $event">
                  <option *ngFor="let teamItem of tournament.teams" [ngValue]="teamItem" >{{teamItem.name + (teamItem.cityName ? (' (' + teamItem.cityName + ')') : '')}}</option>
                </select>
              </div>
              <div class="col-md-2">
                <select class="form-group" [(ngModel)]="gameItem.arena" name="arena" class="form-control" #arena="ngModel" id="arena" (ngModelChange)="gameItem.arena = $event">
                  <option *ngFor="let arenaItem of tournament.arenas" [ngValue]="arenaItem" >{{arenaItem.name}}</option>
                </select>
              </div>
              <!--div class="col-md-2">
                <referee-multiselect [todos]="todos" [referees]="tournament.referees"></referee-multiselect>
              </div-->
            </div>
          </div>
          <div class="row vertical-align">
            <div class="col-md-6 vertical-align">
              <button [hasPermission]="['tournamentadministrator']"
                      class="btn btn-primary waves-light"
                      title="Сформировать таблицу"
                      (click)="generateGamesTable()"
                      onAuthorizedPermission="show"
                      onUnauthorizedPermission="hide"
                      [disabled]="dataIsLoading">
                Сформировать таблицу
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>ИТОГ</h5>
        </div>
      </div>
      <div class="row schedule-table" *ngIf="tournament.tournamentType == 'Round'">
        <div class="col-md-12">
          <div class="div-table div-table-border">
            <div class="div-table-row">
              <div class="div-table-col div-table-col-flex">
                &nbsp;
              </div>
              <div class="div-table-col div-table-col-flex" *ngFor="let team_header of tournament.teams">
                {{team_header.name}}
              </div>
            </div>
            <div class="div-table-row" *ngFor="let team1 of tournament.teams">
              <div class="div-table-col div-table-col-flex">
                {{team1.name}}
              </div>
              <div class="div-table-col div-table-col-flex {{team1==team2 ? 'grey' : ''}}" *ngFor="let team2 of tournament.teams">
                {{dtForTeams(team1,team2)}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="tournament.tournamentType == 'Play-off'">
        <playoff-wgt *ngIf="tournament.tournamentType == 'Play-off'" [games]="tournament.games" [teams]="tournament.teams"></playoff-wgt>
      </div>
    </div>

    <div id="step-7" *ngIf="step == 7">
      step 7
      Здесь еще раз выводим основную информацию по турниру и турнирную таблицу
    </div>

    <span class="btn {{ ( step != 1  ) ? 'btn-primary' : 'grey disabled' }}" (click)="changeStep(step-1)" data-toggle="button" aria-pressed="false" data-placement="top" title="На предыдущий шаг">На предыдущий шаг</span>
    <span class="btn {{ ( step != 6  ) ? 'btn-primary' : 'grey disabled' }}" (click)="changeStep(step+1)" data-toggle="button" aria-pressed="false" data-placement="top" title="На следующий шаг">На следующий шаг</span>
</div>
