<!--loader [hidden]="!dataIsLoading"></loader-->
<div class="playoff-wgt col-md-12 col-md-offset-12">
  <ngb-tabset type="pills" justify="center">
    <ngb-tab *ngFor="let i of rounds">
      <ng-template ngbTabTitle><span title="1/8 финала">{{i == 0 ? round_names[0] : round_names[round_count-i]}}</span></ng-template>
      <ng-template ngbTabContent>
        <div *ngIf="i == 0">
          <div class="div-table-border div-table">
            <div class="div-table-row">
              <div *ngFor="let level of levels" class="div-class-col level level-{{levels.indexOf(level)}}">
                <ul [ngStyle]="{'height':'calc( 80*' + levels[0].length + 'px)'}">
                  <li *ngFor="let num of level">
                    <div *ngIf="levels.indexOf(level) == 0 && games != undefined" class="tile-wrap">
                      <div class="tile">
                        <button class="btn btn-horizontal btn-primary waves-light ellipsis">{{games[num]?.team1?.name}}{{games[num]?.team1?.cityName ? '(' + games[num]?.team1?.cityName + ')' : ''}}&nbsp;</button>
                        <button class="btn btn-horizontal btn-primary waves-light ellipsis">{{games[num]?.team2?.name}}{{games[num]?.team2?.cityName ? '(' + games[num]?.team2?.cityName + ')' : ''}}&nbsp;</button>
                      </div>
                    </div>
                    <div *ngIf="levels.indexOf(level) != 0" class="tile-wrap">
                      <div class="tile">
                        <button class="btn btn-horizontal btn-primary waves-light ellipsis">&nbsp;</button>
                        <button class="btn btn-horizontal btn-primary waves-light ellipsis">&nbsp;</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

