<!--loader [hidden]="!dataIsLoading"></loader-->
<div class="playoff-wgt col-md-12 col-md-offset-12">
  {{round_count}}
  {{this.teamsCount}}
  <ngb-tabset type="pills">
    <!--ngb-tab>
      <ng-template ngbTabTitle><span title="1/8 финала">1/8</span></ng-template>
      <ng-template ngbTabContent>
        1111
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><span title="1/4 финала">1/4</span></ng-template>
      <ng-template ngbTabContent>
        2222
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><span title="Полуфинал">1/2</span></ng-template>
      <ng-template ngbTabContent>
        2222
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><span title="Финал"><i class="fa fa-star"></i></span></ng-template>
      <ng-template ngbTabContent>
        2222
      </ng-template>
    </ngb-tab-->
  </ngb-tabset>
</div>

