<div *ngIf="isUserAuthorized()">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Комментарий</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Текст комментария">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
<div *ngIf="!isUserAuthorized()">
    Только авторизованные пользователи могут оставлять комментарии.
</div>