@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);

.tournament-announcement-view {
  .heading h1 {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 33px;
    position: relative;
  }

  .heading-12 h1 {
    display: inline-block;
    font-weight: bold;
    margin: 0 0 15px;
    padding: 0 0 20px;
    position: relative;
    text-transform: uppercase;
  }

  .heading-12 p {
    color: #949494;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
  }

  .heading {
    text-align: center;
  }

  .heading p {
    background-color: lightgrey;
    color: #ffffff;
    float: left;
    font-size: 12px;
    margin: -10px -10px -10px -10px;
    padding: 0px 0 0px;
    text-align: center;
    text-transform: uppercase;
    width: 105%;
  }

  .heading p {

    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .heading p span {
    display: block;
    font-size: 18px;
    margin-top: 6px;
  }

  .md-form .prefix {
    top: 15px;
  }

  .item-title a:hover {
    color: #6091ac !important;
  }

  h5 {
    font-size: 25px;
    text-align: center;
    color: #333333;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    //padding-top: 15px;
  }

  .item-title-main p {
    background-color: lightgrey;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding: 0 5px 0 5px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .item-title-main p span {
    display: block;
    font-size: 18px;
    padding-top: 6px;
  }

  .item-title-main[_ngcontent-c4] p[_ngcontent-c4] {
    background-color: lightgrey;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
  }

  .item-title a {
    color: #0275d8;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  h5[_ngcontent-c4] {
    font-size: 25px;
    text-align: center;
    color: #333333;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
  }

  .icon-wrap {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
  }

  .row {
    margin: 0 auto;
  }

  .checkbox-title {
    padding-left: 5px;
  }

  .item-img-main {
    height: 200px;
    max-width: 100%;
    filter: none;
    position: relative;
  }

  .item-img-wrapper {
    height: 200px;
    width: 100%;
    text-align: center;
    position: relative;
  }

  .item-img-bg-wrapper {
    height: 200px;
    width: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden;
  }

  .item-img-bg {
    position: absolute;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background: transparent;
    top: -50px;
    left: -50px;
    width: -moz-calc(100% + 100px);
    width: -webkit-calc(100% + 100px);
    width: -o-calc(100% + 100px);
    width: calc(100% + 100px);
  }

  p.icon-wrap i {
    text-align: center;
  }

  .fa {
    font-size: 20px;
    padding-right: 5px;
    min-width: 30px;
  }
  span.item-text {
    margin-top: 10px;
    display: inline-block;
  }
/* logo */

    .card-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
  .blog-item {
    display: flex;
  }
  .h-100 {
    height: auto!important;
  }

  .block-with-logo {
    text-align: center;
    margin-bottom: 5px;
  }
  .logo-img-main {
    height: 50px;
    max-width: 50px;
    filter: none;
    position: relative;
  }

  .logo-img-wrapper {
    height: 50px;
    width: 50px;
    text-align: center;
    position: relative;
    margin: 0 auto 5px auto;
  }

  .logo-img-bg-wrapper {
    height: 50px;
    width: 50px;
    position: absolute;
    text-align: center;
    overflow: hidden;
  }

  .logo-img-bg {
    position: absolute;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background: transparent;
    top: -50px;
    left: -50px;
    width: -moz-calc(100% + 100px);
    width: -webkit-calc(100% + 100px);
    width: -o-calc(100% + 100px);
    width: calc(100% + 100px);
  }
  .wrapper {
    width: 100%;
  }

}
