<div class="dropdown" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle waves-light" mdbRippleRadius id="dropdownConfig">
    Сортировать
  </button>

  <div class="dropdown-menu dropdown-menu-right" *ngFor="let option of options">
    <button class="dropdown-item" [ngClass]="{'selected' : isSelectedOption(option.value)}"
            *ngFor="let option of options"  (click)="setSort(option.value)">
      {{option.title}}
      <i class="fa fa-long-arrow-up" *ngIf="isSortAsc(option.value)"></i>
      <i class="fa fa-long-arrow-down" *ngIf="isSortDesc(option.value)"></i>
    </button>
  </div>
</div>
