/* Заголовок */
heading h1 {
  color: #000;
  font-family: "Open Sans",sans-serif;
  font-size: 33px;
  position: relative;
}

.heading-12 h1 {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0 0 20px;
  position: relative;
  text-transform: uppercase;
}

.heading-12 p {
  color: #949494;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}

.heading {
  text-align: center;
}

/* Весь блок клуба */
.club_blok {
  margin-bottom: 5px;
  border: solid 1px #dad7d5;
  border-radius: 5px;
  height: 110px;
}

.club_blok_img {
  height: 110px;
}

.club_blok_text {
  height: 110px;
}
/* Стили картинки в блоке клуба*/
.club_blok img {
  margin: 5px;
  height: 100px;
   text-align: center;
   display: block;
   max-width: 100%;
   max-height: 100%;

 }
 /* Стили текста в блоке клуба*/
.club_blok span {
  margin-left: 20px;
}
.club_blok h3 {
  margin-left: 20px;
}

/* Убираем маркеры списка */
.childrenteams li {
  list-style-type: none;
}

.img-responsive{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
