@import '~open-iconic/font/css/open-iconic-bootstrap.css';


/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0 auto;
}

.btn-floating i
{
  display: inline-block;
  color: #fff;
}
/*
.fa{
 font: normal normal normal 14px/1 FontAwesome;
} */

.btn-floating {
  z-index: 1;
  overflow: hidden;
  width: 47px;
  height: 47px;
  padding: 0;
  border-radius: 50%;
  background-color: #a6c;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-floating.btn-sm i, .btn-floating.btn-small i, .btn-floating.wishlist i {
  font-size: .96154rem;
  line-height: 36.15px;
}

.btn-floating i {
  width: inherit;
  font-size: 1.25rem;
  line-height: 47px;
  text-align: center;
}

.icon-wrap
{
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  width:100%;
}

.section-container,
.list-container
.view-container{
	position: relative;
}

.toggle {
  cursor: pointer;
}

user-pic img{
  width: 35px;
  height: 35px;
}


